// Global variables
// =============================================================================

// design unit
// a为基准单位,由设计稿宽度除以100所得.r为rem的实际像素值.
// -----------------------------------------------------------------------------

@a: (640 / 100);
@r: @a * 10;

// font相关
@px10: ( 10 / @r) * 1rem;
@px12: ( 12 / @r) * 1rem;
@px14: ( 14 / @r) * 1rem;
@px16: ( 16 / @r) * 1rem;
@px18: ( 18 / @r) * 1rem;
@px20: ( 20 / @r) * 1rem;
@px22: ( 22 / @r) * 1rem;
@px24: ( 24 / @r) * 1rem;
@px26: ( 26 / @r) * 1rem;
@px28: ( 28 / @r) * 1rem;
@px30: ( 30 / @r) * 1rem;
@px32: ( 32 / @r) * 1rem;
@px34: ( 34 / @r) * 1rem;
@px36: ( 36 / @r) * 1rem;

//color相关
@title-bg: #EAEBEC;
@title-color: #545454;
@black: #000;
@border-color: #d9d9d9;