/*头部*/
header{
	padding: (10/64)*1rem (20/64)*1rem;
	height: 1rem;
	.header-logo{
		float: left;
		width: 2rem;
		height: 1rem;
		background: url('../images/logo.gif') no-repeat;
		background-size: cover;
	}
	.header-city{
		float: left;
		line-height: 1rem;
		font-size: (20/64)*1rem;
		color: #333;
		margin-left: (10/64)*1rem;
	}
	.header-login{
		float: right;
		a{
			line-height: 1rem;
			font-size: (20/64)*1rem;
			margin-right: (10/64)*1rem;
		}
	}
}
/*轮播*/
.swiper-container{
	.swiper-slide{
		img{
			width: 10rem;
			height: (200/64)*1rem;
		}
	}
}