@import "_variables.less";
/*头部*/
.header{
	padding: @px10 @px20;
	height: 1rem;
	.header-logo{
		float: left;
		width: 2rem;
		height: 1rem;
		background: url('../images/logo.gif') no-repeat;
		background-size: cover;
	}
	.header-city{
		float: left;
		line-height: 1rem;
		font-size: @px24;
		color: @black;
		margin-left: @px16;
	}
	.header-login{
		float: right;
		a{
			line-height: 1rem;
			font-size: @px24;
			margin-right: @px10;
		}
	}
}
/*轮播*/
.swiper-container{
	.swiper-slide{
		img{
			width: 10rem;
			height: (200/64)*1rem;
		}
	}
}
.gray-sec{
	width: 100%;
	height: @px10;
	background-color: #d9d9d9;
}
/*装修区域*/
.section-title{
	padding: 0 @px20;
	/*border-top: (4/64)*1rem solid #f5c132;*/
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #ccc;
	background-color: @title-bg;
	>span{
		float: left;
		font-weight: bold;
		color: @title-color;
		font-size: @px28;
	}
	>a{
		float: right;
		color: #666;
		font-size: @px24;
	}
}
.sec-type{
	margin-top: @px10;
	margin-left: @px20;
	li{
		float: left;
		width: (205/64)*1rem;
		margin-bottom: @px10;
		a{
			display: block;
			color: #333;
			span{
				display: block;
				margin-left: (52/64)*1rem;
				width: (100/64)*1rem;
				height: (102/64)*1rem;
			}
			p{
				margin-top: @px10;
				text-align: center;
				font-size: @px24;
			}
		}
	}
	&.zx-base{
		li{
			a{
				span{
					background: url('../images/zx/1.png') no-repeat center center;
					background-size: cover;
				}
			}
		}
	}
	&.zx-addvalue{
		li{
			a{
				span{		
					background: url('../images/zx/2.png') no-repeat center center;
					background-size: cover;
				}
			}
		}
	}
}

.sec-base-btn{
	/*background-color: #DAF5F3;*/
	margin: 0 10px;
	display: block;
	/*width: 100%;*/
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	color: #333;
	font-size: @px26;
}

/*建材*/
.jc-type{
	padding: 0 @px10;
	>div{
		height: 1rem;
		line-height: 1rem;
		text-align: center;
		>span{
			float: left;
			width: (160/64)*1rem;
			color: @black;
			font-weight: bold;
			font-size: @px24;
		}
		>a{
			float: left;
			width: (115/64)*1rem;
			color: #333;
			font-size: @px24;
		}
	}
}
/*问答*/
.faq-content{
	padding: 0 @px10;
	border-bottom: 1px solid #d9d9d9;
	p{
		padding-left: @px10;
		height: 0.8rem;
		line-height: 0.8rem;
		font-size: @px24;
		&:nth-child(1){
			font-weight: bold;
		}
		>span:nth-child(1){
			color: @black;
		}
	}
}

/*页脚*/
.footer{
	padding: 8px 20px;
	background-color: #333;
	color: #999;
}
.footer-link{
	text-align: center;
	>a{
		display: inline-block;
		border-right: 1px solid #999;
		width: (135/64)*1rem;
		color: #999;
		&.footer-tel{
			width: (240/64)*1rem;
			font-size: @px34;
			border-right: none;
		}
	}
}
.footer-icp{
	text-align: center;
	line-height: 0.8rem;
}