.zx-nav{
	border-top: 1px solid @border-color;
	.right-nav{
		float: left;
		min-height: 50px;
		.zx-list-detail{
			padding-top: 12px;
			>a{
				float: left;
				display: block;
				width: 25%;
				text-align: center;
				font-size: 12px;
				color: #333;
				padding-bottom: 12px;
				img{
					width: 62px;
					height: 62px;
				}
				span{
					display: block;
					/*padding: 5px 10px;*/
				}
			}
		}
	}
}