/*常量*/
/*公用部分*/
body {
  font-size: 12px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  max-width: 640px;
}
body,
p,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
span,
input,
table,
td,
th,
textarea,
strong,
em {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #53a0e3;
  font-size: 12px;
}
img {
  border: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
label,
input,
select,
img {
  display: inline-block;
  vertical-align: middle;
}
.clear {
  width: 0px;
  padding: 0px;
  height: 0px;
  margin: 0px;
  font-size: 0px;
  line-height: 0px;
  clear: both;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
/*页脚、页尾*/
a {
  border: none;
  background-image: none;
}
a:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
input {
  -webkit-appearance: none;
  outline: 0;
}
.fa-weixin {
  color: #45bb26;
}
.fa-mobile {
  color: #47b1cb;
}
.fa-home {
  color: #47b1cb;
}
i.fa-2x {
  font-size: 1.5em;
}
.fa-user {
  color: #47b1cb;
}
.fa-minus-square-o {
  color: #47b1cb;
}
.fa-plus-square-o {
  color: #47b1cb;
}
/*头部向后导航样式*/
.guide-title {
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 0.46875rem;
  border-bottom: 1px solid #bbb;
}
.guide-title i.fa-angle-left {
  padding: 0 6px;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  color: #666;
  vertical-align: bottom;
}
/*成功图标提示*/
.succ-icon {
  background: url(../images/true.png) no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
/*失败图标提示*/
.error-icon {
  background: url(../images/fail.png) no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}
/*select样式*/
select {
  height: 0.78125rem;
  width: 2.1875rem;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #BBBBBB;
  font-size: 0.375rem;
  padding: 4px 2px;
  background-color: #FFFFFF;
  color: #333333;
  border-radius: 4px;
  outline: 0;
  text-align: center;
}
/*头部*/
.header {
  padding: 0.15625rem 0.3125rem;
  border-bottom: 1px solid #ccc;
  height: 1rem;
}
.header .header-logo {
  float: left;
  width: 2rem;
  height: 1rem;
  background: url('../images/logo.gif') no-repeat;
  background-size: cover;
}
.header .header-city {
  float: left;
  line-height: 1rem;
  font-size: 0.4375rem;
  color: #000000;
  margin-left: 1.5rem;
}
.header .header-login {
  float: right;
}
.header .header-login a {
  line-height: 1rem;
  font-size: 0.375rem;
  margin-right: 0.15625rem;
  border: 1px solid #47b1cb;
  padding: 2px 10px;
  border-radius: 4px;
  color: #47b1cb;
}
.header .header-user {
  float: right;
}
.header .header-user > p {
  line-height: 1rem;
  font-size: 0.375rem;
  margin-right: 0.15625rem;
  color: #47b1cb;
}
.header .header-user > p span {
  color: #333;
}
/*页脚*/
.footer {
  padding: 8px 0px;
  background-color: #333;
  color: #999;
  font-size: 0.375rem;
}
.footer .footer-link {
  text-align: center;
}
.footer .footer-link > a {
  display: inline-block;
  border-right: 1px solid #999;
  width: 2.109375rem;
  color: #999;
}
.footer .footer-link > a:nth-last-child(1) {
  border-right: none;
}
.footer .footer-tel {
  width: 6.5rem;
  margin: 6px auto;
}
.footer .footer-tel > p {
  color: #ddd;
  float: left;
  text-align: left;
  font-size: 18px;
  line-height: 1.5625rem;
  margin-right: 10px;
}
.footer .footer-icp {
  text-align: center;
  line-height: 1rem;
}
.qrcode {
  width: 2.34375rem;
  height: 2.34375rem;
}
/*导航条样式*/
.nav-title {
  height: 1.09375rem;
  /*background-color: #F2F2F2;*/

  /*border-bottom: 1px solid @border-color;*/

  padding: 0 2%;
}
.nav-title a {
  display: block;
  float: left;
  line-height: 1.09375rem;
  font-size: 0.46875rem;
  text-align: center;
  width: 33%;
  color: #333;
}
.nav-title a:nth-child(1) {
  width: 30%;
}
.nav-title a.current {
  color: #47b1cb;
  border-bottom: 2px solid #47b1cb;
  margin-top: -1px;
}
/*提交按钮*/
.submit .input-submit {
  display: block;
  width: 94%;
  padding: 10px 0;
  margin: 10px auto;
  font-size: 0.5625rem;
  background-color: #47b1cb;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.submit .input-submit.left-submit {
  float: left;
  width: 45%;
  margin-right: 3.3%;
  margin-left: 3.3%;
  background-color: #eaebec;
  color: #999;
}
.submit .input-submit.right-submit {
  float: left;
  width: 45%;
}
/*index首页*/
/*轮播*/
.swiper-container .swiper-slide img {
  width: 10rem;
  height: 3.125rem;
}
.gray-sec {
  height: 5px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
}
/*城市mark*/
.fa-map-marker {
  color: #47b1cb;
}
/*首页导航*/
.nav-content > div {
  width: 45%;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.nav-content > div > a {
  padding: 14px 30px;
  font-size: 20px;
  font-weight: bold;
  color: #47b1cb;
  box-shadow: 4px 4px 10px #999;
  border-radius: 8px;
}
.nav-content > div:nth-child(1) {
  padding-left: 5%;
  float: left;
}
.nav-content > div:nth-child(2) {
  padding-right: 5%;
  float: right;
}
/*装修区域*/
.section-title {
  padding: 0 0.3125rem;
  /*border-top: (4/64)*1rem solid #f5c132;*/

  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #ccc;
  /*background-color: @title-bg;*/

}
.section-title > span {
  float: left;
  font-weight: bold;
  color: #545454;
  font-size: 0.4375rem;
}
.section-title > a {
  float: right;
  color: #666;
  font-size: 0.375rem;
}
.section-title .faq-more {
  float: right;
}
.section-title .faq-more > a {
  color: #47b1cb;
  /*padding: 2px 4px;*/

  /* border: 1px solid @logo-color;
			border-radius: 4px; */

  font-size: 0.375rem;
  margin-right: 0.15625rem;
  /*line-height: 1rem;*/

}
.section-title .faq-more > a:nth-child(1) {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}
.sec-type {
  margin-top: 0.15625rem;
  margin-left: 0.3125rem;
}
.sec-type li {
  float: left;
  width: 3.203125rem;
  margin-bottom: 0.15625rem;
}
.sec-type li a {
  display: block;
  color: #333;
}
.sec-type li a span {
  display: block;
  margin-left: 0.8125rem;
  width: 1.5625rem;
  height: 1.59375rem;
}
.sec-type li a p {
  margin-top: 0.15625rem;
  text-align: center;
  font-size: 0.375rem;
}
.sec-type.zx-base li a span {
  background: url('../images/zx/1.png') no-repeat center center;
  background-size: cover;
}
.sec-type.zx-addvalue li a span {
  background: url('../images/zx/2.png') no-repeat center center;
  background-size: cover;
}
.sec-base-btn {
  /*background-color: #DAF5F3;*/

  margin: 0 10px;
  display: block;
  /*width: 100%;*/

  height: 1rem;
  line-height: 1rem;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  color: #333;
  font-size: 0.40625rem;
}
.sec-base-btn i {
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 0.15625rem;
  right: 0.15625rem;
  width: 0.78125rem;
  height: 0.625rem;
}
.sec-base-btn .icon-kitchen {
  background-image: url('../images/icon/icon-kitchen.png');
}
/*建材*/
.jc-section {
  padding-bottom: 0.15625rem;
}
.jc-type {
  padding: 0 0.15625rem 0.15625rem 0.15625rem;
}
.jc-type > div {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
}
.jc-type > div > span {
  float: left;
  width: 2.5rem;
  color: #000000;
  font-weight: bold;
  font-size: 0.375rem;
}
.jc-type > div > a {
  float: left;
  width: 1.796875rem;
  color: #333;
  font-size: 0.375rem;
}
/*问答*/
.faq-content {
  padding: 0 0.15625rem;
  border-bottom: 1px solid #d9d9d9;
}
.faq-content p {
  padding-left: 0.15625rem;
  /*height: 0.8rem;*/

  line-height: 0.8rem;
  font-size: 0.375rem;
}
.faq-content p:nth-child(1) {
  font-weight: bold;
}
/*服务列表*/
.zx-nav {
  border-top: 1px solid #d9d9d9;
}
.zx-nav .right-nav {
  float: left;
  min-height: 50px;
}
.zx-nav .right-nav .zx-list-detail {
  padding-top: 12px;
}
.zx-nav .right-nav .zx-list-detail > a {
  float: left;
  display: block;
  width: 25%;
  text-align: center;
  font-size: 12px;
  color: #333;
  padding-bottom: 12px;
}
.zx-nav .right-nav .zx-list-detail > a img {
  width: 62px;
  height: 62px;
}
.zx-nav .right-nav .zx-list-detail > a span {
  display: block;
  /*padding: 5px 10px;*/

}
/*注册*/
.input-section {
  margin: 10px 0;
}
.input-title {
  background-color: #eaebec;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  font-size: 0.5625rem;
}
.input {
  margin: 10px 0;
}
.input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  height: 0.78125rem;
  line-height: 0.78125rem;
  padding: 8px 12px;
  font-size: 0.46875rem;
  margin-bottom: 6px;
}
.input .input-error {
  margin-left: 12px;
  color: red;
  font-size: 0.375rem;
  display: none;
}
.reg-agreement {
  margin-left: 10px;
  font-size: 0.4375rem;
  color: #999;
}
.reg-agreement a {
  font-size: 0.4375rem;
}
#sendSms {
  position: absolute;
  right: 0;
  top: 0;
  height: 0.78125rem;
  line-height: 0.78125rem;
  border-left: 1px solid #d9d9d9;
  padding: 0px 12px 0px 12px;
  margin: 8px 0;
  font-size: 0.46875rem;
  color: #666;
}
/*登录*/
.login-wechat {
  float: left;
  padding: 6px 10px;
}
.login-wechat .fa-weixin {
  font-size: 0.46875rem;
}
.login-wechat a {
  font-size: 0.46875rem;
  text-decoration: underline;
}
.login-right {
  float: right;
  padding: 6px 10px;
}
.login-right a {
  font-size: 0.46875rem;
  margin-right: 18px;
  text-decoration: underline;
}
.login-right a:nth-last-child(1) {
  margin-right: 0;
}
/*建材列表*/
.jc-nav {
  border-top: 1px solid #d9d9d9;
}
.jc-nav .left-nav {
  float: left;
  width: 28%;
}
.jc-nav .left-nav > a {
  text-align: center;
  font-size: 13px;
  color: #333;
  display: block;
  height: 49px;
  line-height: 49px;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f3f4f6;
}
.jc-nav .left-nav > a.current {
  background-color: #fff;
  border-right: 1px solid #fff;
}
.jc-nav .right-nav {
  float: left;
  width: 72%;
  min-height: 50px;
}
.jc-nav .right-nav .jc-list-detail {
  padding-top: 12px;
}
.jc-nav .right-nav .jc-list-detail .jc-list-type {
  margin-bottom: 2px;
}
.jc-nav .right-nav .jc-list-detail .jc-list-type h2 {
  font-size: 12px;
  padding: 6px 14px;
  color: #333;
  /*font-weight: normal;*/

}
.jc-nav .right-nav .jc-list-detail .jc-list-type > a {
  float: left;
  display: block;
  width: 33.3%;
  text-align: center;
  font-size: 12px;
  color: #333;
  padding-bottom: 12px;
}
.jc-nav .right-nav .jc-list-detail .jc-list-type > a img {
  width: 62px;
  height: 62px;
}
.jc-nav .right-nav .jc-list-detail .jc-list-type > a span {
  display: block;
  /*padding: 5px 10px;*/

}
/*购物车*/
.cart-list-detail {
  /*padding: 5px 0 5px 12px;*/

  padding: 5px 0;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.cart-list-detail .cart-detail-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  float: left;
  width: 34%;
  /* .icon-check{
			float: left;
			display: block;
			width: 20px;
			height: 20px;
			background: url("../images/cart-icon.png") no-repeat -25px 0;
			background-size: 50px 100px;
			&.uncheck{
				background-position: 0 0;
			}
		} */

}
.cart-list-detail .cart-detail-left p {
  font-size: 0.46875rem;
  padding: 4px;
}
.cart-list-detail .cart-detail-right {
  float: left;
  width: 57%;
  /*padding-left: 10px;*/

  font-size: 0.375rem;
  color: #333;
}
.cart-list-detail .cart-detail-right .cart-time {
  font-size: 0.40625rem;
}
.cart-list-detail .cart-detail-right p {
  line-height: 0.6875rem;
}
.cart-list-detail .cart-delete {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: left;
  font-size: 0.5625rem;
  color: #c3c3c3;
  width: 8%;
}
.icon-check {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../images/cart-icon.png") no-repeat -25px 0;
  background-size: 50px 100px;
}
.icon-check.uncheck {
  background-position: 0 0;
}
.cart-submit {
  text-align: right;
  margin: 24px;
}
.cart-submit a {
  padding: 10px 45px;
  border-radius: 2px;
  text-align: center;
  font-size: 0.5625rem;
  background-color: #f15353;
  font-weight: bold;
  color: #fff;
}
/*问答*/
.hide {
  display: none;
}
.show {
  display: block;
}
.a_content .input-submit {
  width: 80%;
  text-align: center;
  font-size: 0.5625rem;
}
.a_content .q_cont {
  /*display: none;*/

  padding: 10px;
}
.a_content .category {
  height: 0.78125rem;
  line-height: 0.78125rem;
  font-size: 0.46875rem;
  padding-left: 0.9375rem;
  margin-bottom: 10px;
  /*.svence{
			vertical-align: middle;
		}*/

}
.a_content .category a {
  position: relative;
  color: #545454;
  padding: 4px;
  padding-right: 50px;
  border: 1px solid #d9d9d9;
}
.a_content .category i.fa-sort-desc {
  font-size: 0.5625rem;
  position: absolute;
  right: 10px;
  /*top:0;*/

}
.a_content .category ul {
  position: absolute;
  left: 0;
  top: 23px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-top: none;
  margin-left: -1px;
  /*display: none;*/

}
.a_content .category li {
  padding: 0 4px;
}
.a_content .input_textarea {
  border: 1px solid #d9d9d9;
  width: 93%;
  height: 3.125rem;
  line-height: 0.46875rem;
  padding: 10px;
  outline: none;
}
.a_content .problem h3 {
  font-size: 0.46875rem;
  color: #545454;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
  height: 0.78125rem;
  line-height: 0.78125rem;
  padding-left: 10px;
}
.a_content .problem h3 i.fa-book {
  font-size: 0.53125rem;
  margin-right: 5px;
}
.a_content .problem ul {
  padding: 10px;
  /*background-color: @title-bg;*/

}
.a_content .problem li {
  line-height: 0.78125rem;
  overflow: hidden;
}
.a_content .problem li a {
  font-size: 0.375rem;
  color: #545454;
}
.a_content .problem .p_l {
  float: left;
}
.a_content .problem .p_c {
  float: left;
  width: 88%;
}
.a_content .problem i.fa-angle-right {
  font-size: 0.78125rem;
  color: #d9d9d9;
  float: right;
  /*width: 10%;*/

  height: 0.78125rem;
}
/*订单结算*/
.order-info > div {
  position: relative;
  padding: 10px 10px;
  border-bottom: 1px solid #d9d9d9;
}
.order-info > div > p {
  line-height: 0.78125rem;
  font-size: 0.4375rem;
}
.order-info > div > p span {
  vertical-align: top;
  margin-left: 3px;
}
.order-info .order-money {
  border-bottom: none;
  padding: 10px 10px 0px 10px;
}
.order-info .order-money p {
  font-size: 0.4375rem;
  /*line-height: @px36;*/

  text-align: right;
}
/*.order-cartinfo{ 
	.cart-list-detail:nth-last-chlid(1){
		border-bottom: none; 
	}
}*/
.order-address > p {
  width: 94%;
}
.order-address > p .order-address-padding {
  padding: 0 12px;
}
.order-address .order-right {
  position: absolute;
  right: 1.2em;
  top: 50%;
  margin-top: -0.8em;
  background: url('../images/right.png') no-repeat;
  width: 0.8em;
  height: 1.6em;
  background-size: 0.8em 1.6em;
}
.order-paytype > p {
  float: left;
  margin-right: 10px;
}
/*地址编辑*/
.address {
  padding: 10px 2px;
}
.address .address-input {
  /*height: @px60;*/

  line-height: 0.9375rem;
  font-size: 0.4375rem;
  padding: 8px 8px;
  border-bottom: 1px solid #d9d9d9;
}
.address .address-input span {
  float: left;
}
.address .address-input input {
  font-size: 0.4375rem;
  width: 60%;
  border: none;
}
.address .address-input .input-error {
  display: block;
  width: 100%;
  float: none;
  clear: both;
  /*margin-left: 12px;*/

  line-height: 0.5rem;
  color: red;
  font-size: 0.375rem;
  display: none;
}
/*订单结果*/
.order-result-right,
.order-result-error {
  text-align: center;
  padding: 10px 0;
}
.order-result-right .order-res-desc,
.order-result-error .order-res-desc {
  font-size: 0.5rem;
  line-height: 0.78125rem;
  color: #47b1cb;
}
/*注册结果*/
.reg-result .reg-result-right,
.reg-result .reg-result-error {
  text-align: center;
  padding: 10px 0;
}
.reg-result .reg-result-right .reg-res-desc,
.reg-result .reg-result-error .reg-res-desc {
  font-size: 0.5rem;
  line-height: 0.78125rem;
  color: #999;
}
.reg-result .nav-title {
  border-top: 1px solid #d9d9d9;
  /*background-color: @title-bg;*/

  margin: 10px 0;
}
.reg-result .nav-title a {
  color: #47b1cb;
  text-decoration: underline;
}
/*热门城市*/
.city-now {
  padding: 5px 0;
}
.city-now p {
  text-align: center;
  line-height: 0.78125rem;
  font-size: 0.4375rem;
}
.city-now p span.cityname {
  color: #47b1cb;
}
.city-hot h2 {
  /*font-weight: normal;*/

  padding: 0 5px;
  background-color: #eaebec;
  line-height: 0.9375rem;
  font-size: 0.46875rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.city-hot .city-hot-row {
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.25rem;
}
.city-hot .city-hot-row a {
  font-size: 0.46875rem;
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  line-height: 1.25rem;
  color: #323232;
  border-right: 1px solid #d9d9d9;
}
/*订单详情*/
.detail-service .cart-list-detail .cart-detail-left {
  width: 24%;
}
.detail-service .cart-list-detail .cart-detail-right {
  width: 52%;
}
.detail-service .cart-list-detail .cart-detail-right p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.detail-service .cart-list-detail .cart-image {
  width: 24%;
  background: no-repeat url('../images/touxiang.jpg') top center;
  background-size: 1.875rem 2.34375rem;
}
.order-money {
  border-top: 1px solid #d9d9d9;
  padding: 10px 10px 0px 10px;
}
.order-money p {
  font-size: 0.4375rem;
  /*line-height: @px36;*/

  text-align: right;
}
.detail-options {
  padding: 5px 10px;
  border-bottom: 1px solid #bbb;
}
.detail-options > p {
  /*padding-left: 10px;*/

  line-height: 0.9375rem;
  font-size: 0.4375rem;
  font-size: #000;
  border-bottom: 1px solid #d9d9d9;
}
.detail-options > p:nth-last-child(1) {
  border-bottom: none;
}
/*订单列表*/
.order-list-sec {
  margin-bottom: 10px;
}
.order-list {
  padding: 5px 5px;
  border-bottom: 1px solid #d9d9d9;
}
.order-list > div {
  float: left;
}
.order-list > div > p {
  line-height: 0.78125rem;
  font-size: 0.40625rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.order-list .order-list-left {
  width: 25%;
  font-size: 0.46875rem;
  line-height: 3.125rem;
}
.order-list .order-list-center {
  width: 65%;
}
.order-list .order-list-right {
  width: 10%;
  position: relative;
  height: 3.125rem;
}
.order-list .order-list-right .order-right {
  position: absolute;
  right: 1.2em;
  top: 50%;
  margin-top: -0.8em;
  background: url('../images/right.png') no-repeat;
  width: 0.8em;
  height: 1.6em;
  background-size: 0.8em 1.6em;
}
/*五角星*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 0.46875rem;
}
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star.current:before {
  content: "\f005";
  color: #e3cf7a;
}
.rating span.star:before {
  content: "\f006";
  color: #777777;
}
/*服务*/
.fw-con {
  /*text-indent: 2em;*/

  font-size: 0.40625rem;
  line-height: 0.59375rem;
  padding: 0.3rem;
  color: #333;
}
.fw-con > h3 {
  font-size: 0.4375rem;
}
.fw-con > p {
  text-indent: 0.8rem;
}
.fw-cal {
  padding: 0 0.3rem;
  font-size: 0.4375rem;
  line-height: 0.6875rem;
  padding-bottom: 2rem;
}
.fw-cal .fw-cal-par {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  /*border-bottom: 1px solid @border-color;*/

  /* display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		
		-webkit-box-align: center; 
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		
		-webkit-box-pack: center; 
		-moz-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center; */

}
.fw-cal .fw-cal-par > ul {
  width: 100%;
  /*border-right: 1px solid @border-color;*/

}
.fw-cal .fw-cal-par > ul li {
  /*padding: 5px 5px 12px 5px;*/

  border-bottom: 1px solid #d9d9d9;
  padding: 0.4rem 0;
  text-align: center;
  position: relative;
  /* &:nth-last-child(1){
					border-bottom: 0;
				} */

}
.fw-cal .fw-cal-par > ul li > p {
  line-height: 1.09375rem;
  font-size: 0.4375rem;
}
.fw-cal .fw-cal-par > ul li > i.fa-minus-square-o,
.fw-cal .fw-cal-par > ul li i.fa-plus-square-o {
  float: left;
  width: 10%;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.4rem;
}
.fw-cal .fw-cal-par > ul li .fw-checked {
  height: 1rem;
  line-height: 1rem;
  margin-left: 30%;
  /*margin-bottom: 0rem;*/

}
.fw-cal .fw-cal-par > ul li .fw-checked span {
  float: left;
  margin-right: 0.5rem;
  text-align: left;
  width: 1rem;
}
.fw-cal .fw-cal-par > ul li .fw-checked i {
  margin-top: 0.25rem;
  margin-right: 0.2rem;
}
.fw-cal .fw-cal-par > ul li .fw-floor-checked {
  margin-left: 15%;
  height: 2rem;
  line-height: 0.9rem;
  margin-bottom: 0rem;
}
.fw-cal .fw-cal-par > ul li .fw-floor-checked span {
  width: 2.3rem;
}
.fw-cal .fw-cal-par > ul li .fw-floor-checked i {
  margin-top: 0.25rem;
}
.fw-cal .fw-cal-par > ul .fw-diy > p .fw-diy-left {
  display: inline-block;
  width: 2.2rem;
}
.fw-cal .fw-cal-par > ul input {
  height: 0.78125rem;
  border: 1px solid #999;
  border-radius: 0;
  font-size: 0.4375rem;
  margin-right: 4px;
  width: 15%;
  padding: 0 0.1rem;
  text-align: center;
}
.fw-cal .fw-cal-par .fw-adv {
  padding: 5px 0px 5px 6px;
  float: left;
  /*text-indent: 2em;*/

  font-size: 0.40625rem;
  line-height: 0.6875rem;
  color: #777;
}
.fw-cal .fw-cal-par div.fw-cal-right {
  width: 12%;
  float: left;
  padding-top: 0.9375rem;
  text-align: center;
}
.fw-cal .fw-tital {
  height: 1rem;
  line-height: 1rem;
  margin-top: 0.4rem;
}
.fw-cal .fw-tital > span {
  float: left;
}
.fw-cal .fw-tital > span:nth-child(1) {
  font-size: 0.4375rem;
}
.fw-cal .fw-tital > span:nth-child(2) {
  font-weight: bold;
  font-size: 0.46875rem;
}
.fw-cal .fw-tital .fw-btn-fee {
  float: right;
  font-size: 0.5rem;
  margin-top: -6px;
  padding: 0.1rem 0.4rem;
}
.fw-cal-hydro li span {
  font-size: 0.46875rem;
}
.fw-cal-hydro li span:nth-child(1) {
  width: 40%;
}
.fw-cal-hydro li span:nth-child(2) {
  width: 50%;
}
.fw-cal-hydro input.fw-input-single {
  width: 50%;
}
.fw-cal-hydro input.fw-input-multi {
  width: 24%;
  margin-right: 4px;
}
.fw-cal-hydro p {
  margin-bottom: 0.2rem;
}
.fw-cal-kitchen li span:nth-child(1) {
  width: 36%;
}
.fw-cal-kitchen li span:nth-child(2) {
  width: 50%;
}
.fw-cal-kitchen input {
  width: 70%;
}
.fw-btn-fee {
  padding: 4px 5px;
  border-radius: 4px;
  background-color: #47b1cb;
  color: #fff;
}
.fw-remark {
  padding: 5px 0;
  font-size: 0.34375rem;
  line-height: 0.5625rem;
  text-indent: 0.7rem;
  color: #f40;
}
.fw-addcart {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  height: 50px;
  width: 100%;
}
.fw-addcart a.fw-cart-ico {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
  color: #d4d4d4;
  font-size: 10px;
}
.fw-addcart a.fw-cart-ico em {
  display: block;
  height: 24px;
  width: 25px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 8px;
  background: url(../images/cart.png) 0 0 no-repeat;
  background-position: 0 -23px;
  background-size: 50px 50px;
}
.fw-addcart a.fw-cart-ico span {
  height: 18px;
  line-height: 13px;
  display: block;
  text-align: center;
}
.fw-addcart a.fw-addcart-in {
  display: block;
  float: left;
  height: 100%;
  width: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  background-color: #f15353;
  font-weight: bold;
  color: #fff;
}
