// Name: Base
//
// Description: Soeasy base style
//
// =============================================================================

/// function to calculate px to rem
@r:72;
@colorG:#26a367;
@baseC:#f2f2f2;
@textC:#474747;
/*.p2r($px) {
  left: ($px / @r) * 1rem;
}
*/
/// function to calculate rem to px
@function rem2px ($rem) {
  @return ($rem * @r) * 1px;
}
@titHeight:(90/@r)*1rem;
*{
  padding:0;
  margin:0;
}
ul,li{
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img{
  vertical-align: middle;
}
input{
  outline: none;
  border:none;
  background-color: transparent;
}
::-webkit-clear-button {
     -webkit-appearance: none; 
}
body{
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  outline: 0;
  overflow: hidden;
  background-color:@baseC;
  
}

//顶部title
.baseTit{
  position: relative;
  height:@titHeight;
  line-height: @titHeight;
  text-align: center;
  background-color: @colorG;
  font-size: (36/@r)*1rem;
  color: #fff;
}
.t-f{
  position: absolute;
  right: (30/@r)*1rem;
  top: (28/@r)*1rem;
  width:(36/@r)*1rem;
  height:(28/@r)*1rem;
  background: url("../images/t_fuction.png") no-repeat;
  background-size: 100%;
}
.return{
  position: absolute;
  left: (30/@r)*1rem;
  top: (22/@r)*1rem;
  width:(44/@r)*1rem;
  height:(44/@r)*1rem;
  background: url("../images/return.png") no-repeat;
  background-size: cover;
}

//上一步下一步
.preNext{
  text-align: center;
  margin-top: (47/@r)*1rem;
  a{
    width:(266/@r)*1rem;
    height: (77/@r)*1rem;
    display: inline-block;
    text-align: center;
    line-height: (77/@r)*1rem;
    color: #5ad191;
    border: 2px solid #5ad191;
    border-radius:(38/@r)*1rem;
    font-size: (30/@r)*1rem;
  }
  .next{
    background-color: #5ad191;
    color: #fff;
    margin-left:(30/@r)*1rem;
  }
}
/*//右侧选中的对勾*/
.t-right{
  position: absolute;
  right: 0;
  top:(32/@r)*1rem;
  width: (40/@r)*1rem;
  height: (40/@r)*1rem;
  background: url("../images/select.png") no-repeat;
  background-size: cover;
}
.selected{
  .t-right{
    background-image: url("../images/selected.png");
  }
}

/*公共底部*/
.green-line{
  height:(9/@r)*1rem; 
  background-color: #26a367;
  margin-top:(32/@r)*1rem;
}
.i-bottom{
  background: #353641;
  padding-bottom: (28/@r)*1rem;
  .bottom-list{
    a{
      display: inline-block;
      width: 32.5%;
      text-align: center;
      color: #a9aab7;
      font-size: (30/@r)*1rem;
      padding: (48/@r)*1rem 0;
    }
  }
  p{
    font-size: (18/@r)*1rem;
    color: #676876;
    text-align: center;
    line-height: (34/@r)*1rem;
  }
}
/*搜索公共*/
.serch{
  height: (124/@r)*1rem;
  background-color: #26a367;
  padding:0 (30/@r)*1rem;
  p{
    width: 100%;
    background-color: #08693b;
    height: (67/@r)*1rem;
    .serch-icon{
      width:(33/@r)*1rem; 
      height: (33/@r)*1rem;
      float: left;
      margin-left:(20/@r)*1rem; 
      margin-top: (18/@r)*1rem;
      background: url('../images/serch.png') no-repeat;
      background-size: cover;
    }
    input{
      float: left;
      width: 84%;
      margin-left:(20/@r)*1rem;
      height: 100%;
      line-height: 100%;
      color: #92e8bf; 
    }
    ::-webkit-input-placeholder{
      color: #92e8bf; 
    }
  }
}
/*更多*/
.hot-tit{
  height:(80/@r)*1rem;
  line-height: (80/@r)*1rem; 
  text-align: center;
  font-size: (30/@r)*1rem;  
  font-weight: bold;
  color: #42b3f4;
  position: relative;
  &.hot-offer{
    color: #ff6333;
  }
}
.more{
  position: absolute;
  width:(40/@r)*1rem; 
  height: (40/@r)*1rem;
  background: url("../images/more.png") no-repeat;
  background-size: cover;
  right:0;
  top:(20/@r)*1rem;;
}
.hide{
  display: none;
}