.index{
	background-color: #f7f7f7;
	font-family: "微软雅黑";
	.i-top{
		position: relative;
		.logo{
			position: absolute;
			left: (20/@r) * 1rem;
			top: (20/@r) * 1rem;
			width: (130/@r) * 1rem;
			z-index: 2;
		}
		.t-img{
			width:100%;
			position: relative;
			left: 0;
			top:0;
		}
	}

	.i-swipe{
		width: (660/@r)*1rem;
		border-radius: 6px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		margin: 0 auto;
		padding-top: (23/@r)*1rem;
		padding-bottom: (26/@r)*1rem;
		margin-top: -(180/@r)*1rem;
		background-color: rgba(250,250,250,0.5);
		box-shadow:0 4px 6px #eee;
		margin-bottom:(70/@r)*1rem; 
		ul{
			li{
				width: (450/@r)*1rem;
				h3{
					font-size: (36/@r)*1rem;
					height: (70/@r)*1rem;
					line-height: (70/@r)*1rem;
					text-align: center;
				}
				p{
					width: (450/@r)*1rem;
					margin: 0 auto;
					text-align: center;
					font-size: (30/@r)*1rem;
					/*height: (46/@r)*1rem;*/
					line-height: (46/@r)*1rem;
					color: #808080;
				}
			}
			margin-bottom: (36/@r)*1rem;
		}
		.swiper-pagination{
			/*margin-bottom: 0;*/
		}
	}
	.i-cont{
		margin:0 (29/@r)*1rem;
		.i-item{}
		.i-tit{
			height: (58/@r)*1rem;
			line-height: 1;
			font-size:(30/@r)*1rem;
			color: #4c4c4c;
			span{
				float: left;
			}
			a{
				font-size: (24/@r)*1rem;
				color: #4c4c4c;
				float: right;
				padding-top: (7/@r)*1rem;
			}
		}
		.item-list1{
			padding-bottom:(46/@r)*1rem; 
			li{
				position: relative;
				height:(345/@r)*1rem;
				box-shadow:0 4px 6px #d5d5d5;
				border-radius:6px;
				margin-bottom:(36/@r)*1rem;
			}
			img{
				width: 100%;
				position: absolute;
				left: 0;
				top:0;
				border-radius:6px;
			}
			.item-text{
				position: absolute;
				left:(24/@r)*1rem;
				bottom: 0;
				height:(51/@r)*1rem;
				font-size:(30/@r)*1rem;
				color: #fff;
				font-weight: bold;
			}
		}
		.item-list2{
			margin:(17/@r)*1rem (16/@r)*1rem (55/@r)*1rem (6/@r)*1rem;
			overflow: hidden;
			li{
				padding:0 (33/@r)*1rem;
				width: (213/@r)*1rem;
				float: left;
				margin-bottom:(20/@r)*1rem; 
			}
			.list-tit{
				font-size:(24/@r)*1rem;
				color: #c1aa64;
				line-height: (64/@r)*1rem;
				text-align: center;
			}
			img{
				width: (147/@r)*1rem;
			}

		}
		.item-list3{
			overflow: hidden;
			padding-bottom:(62/@r)*1rem;
			li{
				margin-right: (23/@r)*1rem;
				width: (319/@r)*1rem;
				float: left;
				background-color: #fff;
				box-shadow:0 4px 6px #d5d5d5;
				height: (485/@r)*1rem;
				border-radius: 6px;
				padding-bottom:(31/@r)*1rem;
				&.m-none{
					margin-right:0;
				}		
			}
			.list3-img{
				width: 100%;
				border-radius: 6px 6px 0 0;
			}
			.user-img{
				border-radius: 50%;
				margin:0 auto;
				width: (100/@r)*1rem;
				margin-top: -(53/@r)*1rem;
				text-align: center;
				border-radius:50%;
				background-color: #fff;
				img{
					width: (92/@r)*1rem;
					border-radius: 50%;
					margin-top: (4/@r)*1rem;
				}
			}
			.list3-tit{
				font-size:(30/@r)*1rem; 
				line-height: (50/@r)*1rem;
				color: #333;
				text-align: center;
			}
			.list3-text{
				line-height: (40/@r)*1rem;
				font-size: (24/@r)*1rem;
				color: #808080;
				text-align: center;
			}
		}
	}

	.i-bottom{
		background: #353641;
		padding-bottom: (28/@r)*1rem;
		.bottom-list{
			a{
				display: inline-block;
				width: 32.5%;
				text-align: center;
				color: #a9aab7;
				font-size: (30/@r)*1rem;
				padding: (48/@r)*1rem 0;
			}
		}
		p{
			font-size: (18/@r)*1rem;
			color: #676876;
			text-align: center;
			line-height: (34/@r)*1rem;
		}
	}
	
}