.line-index{
	.bg{
		img{
			width: 10rem;
			height: (289/@r)*1rem;
		}
	}
	.index-t{
		margin-bottom: (5/@r)*1rem;
		.title{
			position: relative;
			height: (131/@r)*1rem;
			img{
				position: absolute;
				left: 50%;
				top: 50%;
			}
		}
		&.t1{
			background: #fed03f;
			padding-bottom: 0.5rem;
			.title{
				img{
					width: (402/@r)*1rem;
					height: (60/@r)*1rem;
					margin-left: -(201/@r)*1rem;
					margin-top: -(30/@r)*1rem;
				}
			}
		}
		&.t2{
			background: #a1d859;
			padding-bottom: 0.5rem;
			.title{
				img{
					width: (272/@r)*1rem;
					height: (60/@r)*1rem;
					margin-left: -(136/@r)*1rem;
					margin-top: -(30/@r)*1rem;
				}
			}
		}
		&.t3{
			background: #66bdf3;
			padding-bottom: 0.5rem;
			.title{ 
				img{
					width: (326/@r)*1rem;
					height: (60/@r)*1rem;
					margin-left: -(163/@r)*1rem;
					margin-top: -(30/@r)*1rem;
				}
			}
		}
		&.t4{
			background: #af60b3;
			padding-bottom: 0.5rem;
			.title{ 
				img{
					width: (416/@r)*1rem;
					height: (60/@r)*1rem;
					margin-left: -(208/@r)*1rem;
					margin-top: -(30/@r)*1rem;
				}
			}
		}
		.con-1{
			padding: 0 (20/@r)*1rem;
			padding-bottom: (21/@r)*1rem;
			>img{
				width: (680/@r)*1rem;			
				height: (317/@r)*1rem;
			}
			.desc{
				color: #474747;
				font-size: (30/@r)*1rem;
				background: #fff;
				height: (85/@r)*1rem;
				line-height: (85/@r)*1rem;
				padding: 0 (22/@r)*1rem;
			}
		}
		.con-bottom{
			overflow: hidden;
			padding: 0 (20/@r)*1rem;
			.con-left{
				position: relative;
				float: left;
				margin-right: (12/@r)*1rem;
				&:last-child{
					margin-right: 0;
				}
				>img{
					width: (334/@r)*1rem;
					height: (218/@r)*1rem;
				}
				.left-desc{
					background: #fff;
					padding: 0 (22/@r)*1rem;
					padding-top: (22/@r)*1rem;
					font-size: (30/@r)*1rem;
					color: #474747;
				}
				>p{
					padding-left:(20/@r)*1rem;
					padding-bottom: (8/@r)*1rem;
					font-size: (20/@r)*1rem;
					background: #fff;
					height: (52/@r)*1rem;
					line-height: (52/@r)*1rem;
					color: #999;
				}
			}

		}
	}
}

.jd-money{
	float: right;
	color: #ff8334;
	font-weight: bold;
	/*font-size: (42/@r)*1rem;*/
	span:first-child{
		font-size: 0.5em;
	}
	span:last-child{
		font-size: 1em;
	}
}



