.personal{
	background: url("../images/pre_center.png") no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	.baseTit{
		background-color: transparent;
	}
	.cont{
		padding-top:(50/@r)*1rem;
		text-align: center;
	}
	.pre_border{
		display: inline-block;
		width:(156/@r)*1rem;
		height:(156/@r)*1rem;
		background-color: #fff;
		border-radius: 50%;
		text-align: center;
		padding-top:(8/@r)*1rem;
		img{
			width: (140/@r)*1rem;
			height: (140/@r)*1rem;
			border-radius: 50%;
		}
	}
	.personal_top{
		margin-bottom:(22/@r)*1rem; 
	}
	.pre_list{
		height:(134/@r)*1rem; 
		margin-bottom:(33/@r)*1rem;  
		li{
			width: 33.3%;
			float: left;
			text-align: center;
			background: url("../images/pre_line.png") center right no-repeat;
			img{
				width:(80/@r)*1rem;
				height:(80/@r)*1rem; 
			}
			span{
				display: block;
				height:(54/@r)*1rem;
				line-height:(54/@r)*1rem;
				color: #a6a6a6;   
			}
		}
		li:last-child{
			background: none;
		}
	}
	.pre_cont{
		background-color: #fff;
	}
	.pre_c_list{
		height:(72/@r)*1rem;
		border-top:1px solid #e6e6e6;
		border-bottom:1px solid #e6e6e6;
		font-size: (22/@r)*1rem;
		color: #999;
		li{
			float: left;
			width: 20%;
			text-align: center;
			span{
				display: inline-block;
				padding:(24/@r)*1rem 0 (20/@r)*1rem;
				
			}
		}
		.active{
			span{
				color: #26a367;
				padding-bottom:(14/@r)*1rem; 
				border-bottom:3px solid #26a367;
			}
		} 
	}
}