.tra-list{
	background-color: #fff;
	margin-top:(29/@r)*1rem;
	padding:0 (29/@r)*1rem;
	border-top:1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	li{
		height: (102/@r)*1rem;
		line-height: (102/@r)*1rem;
		font-size: (30/@r)*1rem;
		color: @textC;
		border-bottom: 1px solid #e6e6e6;
		position: relative;
		input{
			width: 70%;
			float: right;
			height: 100%;
			text-align: right;
			font-size: (30/@r)*1rem;
		}
	}
	li:last-child{
		border-bottom:none;
	}
	.t-left{
		width: 80%;
		overflow: hidden;
		float: left;
	}
	.c-left{
		color: #999;
		width: 26%;
		float: left;
		&.c-left{
				color: #474747;
		}
	}
	.number{
		float: right;
		margin-top: (14/@r)*1rem;
		color: #dedede;
		span,input{
			font-size: (50/@r)*1rem;
			float: right;
			width: (70/@r)*1rem;
			height: (70/@r)*1rem;
			line-height: (70/@r)*1rem;
			text-align: center;
			border: 1px solid #ccc;
			margin-left: -1px;
		}
		input{
			width:(100/@r)*1rem; 
			font-size: (40/@r)*1rem;
		}
	}
}
.travel{
	.a-item{
		margin-top:(46/@r)*1rem; 
		.tra-list{
			margin-bottom: (26/@r)*1rem;
		}
	}
	.add-people{
		color: #26a367;
		height:(98/@r)*1rem;
		background-color: #fff;
		text-align: center;
		font-size:(30/@r)*1rem;
		border-top:1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6; 
		span{
			vertical-align: middle;
			display: inline-block;
			height: (50/@r)*1rem;
			line-height: (50/@r)*1rem;
			margin-top: (22/@r)*1rem;
		}
		.add-l{
			width: (50/@r)*1rem;
			background: url("../images/add.png") no-repeat;
			margin-right: (20/@r)*1rem;
			background-size: cover;
		}
	}
	.a-tit{
		padding:0 (29/@r)*1rem;
		height:(66/@r)*1rem; 
		line-height: (66/@r)*1rem;
		.a-tit-l{
			font-size: (36/@r)*1rem;
			color: #26a367;
			font-weight: bold;
			float: left;
		}
		.a-tit-r{
			float: right;
			font-size:(30/@r)*1rem; 
			color: #999;
		}
	}
	/*支付方式*/
	.total{
		margin-top:(30/@r)*1rem;
		padding:0 (29/@r)*1rem;
		height: (98/@r)*1rem;
		font-size: (30/@r)*1rem; 
		background-color: #fff;
		border-top:1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		.total-l{
			float: left;
			color: #474747;
			margin-top: (32/@r)*1rem;
		}
		.total-r{
			float: right;
			color: #ff6333;
			font-size:(48/@r)*1rem; 
			margin-top: (24/@r)*1rem;
			em{
				font-style: normal;
				font-size: (24/@r)*1rem;
			}
		}
	}
	.sure{
		margin-top: (40/@r)*1rem;
		text-align: center;
		.n-sure{
			width:(406/@r)*1rem;
			height: (80/@r)*1rem; 
			display: inline-block;
			background-color: #ff6333;
			color: #fff;
			line-height:(80/@r)*1rem; 
			font-size: (30/@r)*1rem;
			border-radius:(80/@r)*1rem;  
		}
	}
}