/*.p2r($px) {
  left: ($px / @r) * 1rem;
}
*/
@function rem2px ($rem) {
  @return ($rem * @r) * 1px;
}
.fz30 {
  font-size: 0.41666667rem;
}
.fz32 {
  font-size: 0.44444444rem;
}
.fz34 {
  font-size: 0.47222222rem;
}
.fz36 {
  font-size: 0.5rem;
}
.fz38 {
  font-size: 0.52777778rem;
}
.fz40 {
  font-size: 0.55555556rem;
}
.fz42 {
  font-size: 0.58333333rem;
}
.fz44 {
  font-size: 0.61111111rem;
}
.fz46 {
  font-size: 0.63888889rem;
}
.fz48 {
  font-size: 0.66666667rem;
}
.fz50 {
  font-size: 0.69444444rem;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  vertical-align: middle;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
::-webkit-clear-button {
  -webkit-appearance: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  outline: 0;
  /*overflow: hidden;*/
  background-color: #f2f2f2;
}
.baseTit {
  position: relative;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #26a367;
  font-size: 0.5rem;
  color: #fff;
}
.t-f {
  position: absolute;
  right: 0.41666667rem;
  top: 0.38888889rem;
  width: 0.5rem;
  height: 0.38888889rem;
  background: url("../images/t_fuction.png") no-repeat;
  background-size: 100%;
}
.return {
  position: absolute;
  left: 0.41666667rem;
  top: 0.30555556rem;
  width: 0.61111111rem;
  height: 0.61111111rem;
  background: url("../images/return.png") no-repeat;
  background-size: cover;
}
.preNext {
  text-align: center;
  margin-top: 0.65277778rem;
}
.preNext a,
.preNext input {
  width: 3.69444444rem;
  height: 1.06944444rem;
  display: inline-block;
  text-align: center;
  line-height: 1.06944444rem;
  color: #5ad191;
  border: 2px solid #5ad191;
  border-radius: 0.52777778rem;
  font-size: 0.41666667rem;
}
.preNext .next {
  background-color: #5ad191;
  color: #fff;
  margin-left: 0.41666667rem;
  cursor: pointer;
}
/*//右侧选中的对勾*/
.t-right {
  position: absolute;
  right: 0;
  top: 0.44444444rem;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background: url("../images/select.png") no-repeat;
  background-size: cover;
}
.selected .t-right {
  background-image: url("../images/selected.png");
}
/*公共底部*/
.green-line {
  height: 0.125rem;
  background-color: #26a367;
  margin-top: 0.44444444rem;
}
.i-bottom {
  background: #353641;
  padding-bottom: 0.38888889rem;
}
.i-bottom .bottom-list a {
  display: inline-block;
  width: 32.5%;
  text-align: center;
  color: #a9aab7;
  font-size: 0.41666667rem;
  padding: 0.66666667rem 0;
}
.i-bottom p {
  font-size: 0.25rem;
  color: #676876;
  text-align: center;
  line-height: 0.47222222rem;
}
/*搜索公共*/
.serch {
  height: 1.72222222rem;
  background-color: #26a367;
  padding: 0 0.41666667rem;
}
.serch p {
  width: 100%;
  background-color: #08693b;
  height: 0.93055556rem;
}
.serch p .serch-icon {
  width: 0.45833333rem;
  height: 0.45833333rem;
  float: left;
  margin-left: 0.27777778rem;
  margin-top: 0.25rem;
  background: url('../images/serch.png') no-repeat;
  background-size: cover;
}
.serch p input {
  float: left;
  width: 84%;
  margin-left: 0.27777778rem;
  height: 100%;
  line-height: 100%;
  color: #92e8bf;
}
.serch p ::-webkit-input-placeholder {
  color: #92e8bf;
}
/*更多*/
.hot-tit {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  text-align: center;
  font-size: 0.41666667rem;
  font-weight: bold;
  color: #42b3f4;
  position: relative;
}
.hot-tit.hot-offer {
  color: #ff6333;
}
.more {
  position: absolute;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background: url("../images/more.png") no-repeat;
  background-size: cover;
  right: 0;
  top: 0.27777778rem;
}
.hide {
  display: none;
}
.index {
  background-color: #f7f7f7;
  font-family: "微软雅黑";
}
.index .i-top {
  position: relative;
}
.index .i-top .logo {
  position: absolute;
  left: 0.27777778rem;
  top: 0.27777778rem;
  width: 1.80555556rem;
  z-index: 2;
}
.index .i-top .t-img {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.index .i-swipe {
  width: 9.16666667rem;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 auto;
  padding-top: 0.31944444rem;
  padding-bottom: 0.36111111rem;
  margin-top: -2.5rem;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 0 4px 6px #eee;
  margin-bottom: 0.97222222rem;
}
.index .i-swipe ul {
  margin-bottom: 0.5rem;
}
.index .i-swipe ul li {
  width: 6.25rem;
}
.index .i-swipe ul li h3 {
  font-size: 0.5rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  text-align: center;
}
.index .i-swipe ul li p {
  width: 6.25rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.41666667rem;
  /*height: (46/@r)*1rem;*/
  line-height: 0.63888889rem;
  color: #808080;
}
.index .i-swipe .swiper-pagination {
  /*margin-bottom: 0;*/
}
.index .i-cont {
  margin: 0 0.40277778rem;
}
.index .i-cont .i-tit {
  height: 0.80555556rem;
  line-height: 1;
  font-size: 0.41666667rem;
  color: #4c4c4c;
}
.index .i-cont .i-tit span {
  float: left;
}
.index .i-cont .i-tit a {
  font-size: 0.33333333rem;
  color: #4c4c4c;
  float: right;
  padding-top: 0.09722222rem;
}
.index .i-cont .item-list1 {
  padding-bottom: 0.63888889rem;
}
.index .i-cont .item-list1 li {
  position: relative;
  height: 4.79166667rem;
  box-shadow: 0 4px 6px #d5d5d5;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
.index .i-cont .item-list1 img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px;
}
.index .i-cont .item-list1 .item-text {
  position: absolute;
  left: 0.33333333rem;
  bottom: 0;
  height: 0.70833333rem;
  font-size: 0.41666667rem;
  color: #fff;
  font-weight: bold;
}
.index .i-cont .item-list2 {
  margin: 0.23611111rem 0.22222222rem 0.76388889rem 0.08333333rem;
  overflow: hidden;
}
.index .i-cont .item-list2 li {
  padding: 0 0.45833333rem;
  width: 2.95833333rem;
  float: left;
  margin-bottom: 0.27777778rem;
}
.index .i-cont .item-list2 .list-tit {
  font-size: 0.33333333rem;
  color: #c1aa64;
  line-height: 0.88888889rem;
  text-align: center;
}
.index .i-cont .item-list2 img {
  width: 2.04166667rem;
}
.index .i-cont .item-list3 {
  overflow: hidden;
  padding-bottom: 0.86111111rem;
}
.index .i-cont .item-list3 li {
  margin-right: 0.31944444rem;
  width: 4.43055556rem;
  float: left;
  background-color: #fff;
  box-shadow: 0 4px 6px #d5d5d5;
  height: 6.73611111rem;
  border-radius: 6px;
  padding-bottom: 0.43055556rem;
}
.index .i-cont .item-list3 li.m-none {
  margin-right: 0;
}
.index .i-cont .item-list3 .list3-img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.index .i-cont .item-list3 .user-img {
  margin: 0 auto;
  width: 1.38888889rem;
  margin-top: -0.73611111rem;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}
.index .i-cont .item-list3 .user-img img {
  width: 1.27777778rem;
  border-radius: 50%;
  margin-top: 0.05555556rem;
}
.index .i-cont .item-list3 .list3-tit {
  font-size: 0.41666667rem;
  line-height: 0.69444444rem;
  color: #333;
  text-align: center;
}
.index .i-cont .item-list3 .list3-text {
  line-height: 0.55555556rem;
  font-size: 0.33333333rem;
  color: #808080;
  text-align: center;
}
.index .i-cont .i-t-list {
  position: relative;
  height: 2.20833333rem;
  margin-bottom: 0.97222222rem;
  overflow: auto;
}
.index .i-cont .item-list {
  width: 1000%;
  height: 2.20833333rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: -3.59722222rem;
  padding-bottom: 0;
}
.index .i-cont .item-list li {
  float: left;
  width: 3.59722222rem;
  height: 100%;
  margin-right: 0.26388889rem;
  margin-bottom: 0;
}
.index .i-cont .item-list .item-text {
  left: 0.22222222rem;
  bottom: 0;
}
/*导航效果*/
.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 3;
}
.nav .nav-tit {
  height: 1.25rem;
  background-color: #26a367;
  position: relative;
}
.nav .nav-tit .logo {
  height: 0.77777778rem;
  margin-top: 0.23611111rem;
}
.nav .nav-tit .nav-close {
  width: 0.41666667rem;
  height: 0.41666667rem;
  position: absolute;
  right: 0.41666667rem;
  top: 0.44444444rem;
  background: url("../images/close.png") no-repeat;
  background-size: cover;
}
.nav .nav-list {
  padding: 0 1.36111111rem 0.55555556rem;
  background-color: #fff;
  text-align: left;
  font-size: 0.41666667rem;
}
.nav .nav-list li {
  height: 1.375rem;
  line-height: 1.375rem;
  border-bottom: 1px solid #e6e6e6;
}
.nav .nav-list li span {
  margin-right: 0.55555556rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 0.41666667rem;
  float: left;
}
.nav .nav-list li a {
  color: #26a367;
}
.nav .nav-list li:last-child {
  border-bottom: none;
}
.nav .nav-list .nav-icon8,
.nav .nav-list .nav-icon7,
.nav .nav-list .nav-icon6 {
  width: 0.5rem;
  height: 0.5rem;
  background-image: url("../images/nav_icon8.png");
}
.nav .nav-list .nav-icon7 {
  background-image: url("../images/nav_icon7.png");
}
.nav .nav-list .nav-icon6 {
  background-image: url("../images/nav_icon6.png");
}
.nav .nav-list .nav-icon5 {
  width: 0.38888889rem;
  height: 0.51388889rem;
  background-image: url("../images/nav_icon5.png");
}
.nav .nav-list .nav-icon4 {
  width: 0.41666667rem;
  height: 0.48611111rem;
  background-image: url("../images/nav_icon4.png");
}
.nav .nav-list .nav-icon3 {
  width: 0.47222222rem;
  height: 0.48611111rem;
  background-image: url("../images/nav_icon3.png");
}
.nav .nav-list .nav-icon2,
.nav .nav-list .nav-icon1 {
  width: 0.44444444rem;
  height: 0.5rem;
  background-image: url("../images/nav_icon2.png");
}
.nav .nav-list .nav-icon1 {
  background-image: url("../images/nav_icon1.png");
}
.tra-list {
  background-color: #fff;
  margin-top: 0.40277778rem;
  padding: 0 0.40277778rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.tra-list li {
  height: 1.41666667rem;
  line-height: 1.41666667rem;
  font-size: 0.41666667rem;
  color: #474747;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.tra-list li input {
  width: 70%;
  float: right;
  height: 100%;
  text-align: right;
  font-size: 0.41666667rem;
}
.tra-list li:last-child {
  border-bottom: none;
}
.tra-list .t-left {
  width: 80%;
  overflow: hidden;
  float: left;
}
.tra-list .c-left {
  color: #999;
  width: 26%;
  float: left;
}
.tra-list .c-left.c-left {
  color: #474747;
}
.tra-list .number {
  float: right;
  margin-top: 0.19444444rem;
  color: #dedede;
}
.tra-list .number span,
.tra-list .number input {
  font-size: 0.69444444rem;
  float: right;
  width: 0.97222222rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: -1px;
}
.tra-list .number input {
  width: 1.38888889rem;
  font-size: 0.55555556rem;
}
.tra-list .number input.w240 {
  width: 3.33333333rem;
}
.t-show-price {
  width: 100%;
  line-height: 0.6rem;
  padding: 0.2rem 0.3rem;
  background: #fff;
  overflow: hidden;
}
.t-show-price > div:nth-child(2) {
  margin-right: 0.2rem;
}
.t-show-price em {
  color: #333;
  font-style: normal;
  font-weight: normal;
  font-size: 0.38888889rem;
  float: left;
}
.travel {
  /*支付方式*/
}
.travel .travel-error {
  color: red;
  font-size: 12px;
  padding: 10px;
}
.travel .room-span {
  color: #666;
  font-size: 12px;
  padding: 10px;
}
.travel .a-item {
  margin-top: 0.63888889rem;
}
.travel .a-item .tra-list {
  margin-bottom: 0.36111111rem;
}
.travel .add-people {
  color: #26a367;
  height: 1.36111111rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.41666667rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.travel .add-people span {
  vertical-align: middle;
  display: inline-block;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  margin-top: 0.30555556rem;
}
.travel .add-people .add-l {
  width: 0.69444444rem;
  background: url("../images/add.png") no-repeat;
  margin-right: 0.27777778rem;
  background-size: cover;
}
.travel .a-tit {
  padding: 0 0.40277778rem;
  height: 0.91666667rem;
  line-height: 0.91666667rem;
}
.travel .a-tit .a-tit-l {
  font-size: 0.5rem;
  color: #26a367;
  font-weight: bold;
  float: left;
}
.travel .a-tit .a-tit-r {
  float: right;
  font-size: 0.41666667rem;
  color: #999;
}
.travel .total {
  margin-top: 0.41666667rem;
  padding: 0 0.40277778rem;
  height: 1.36111111rem;
  font-size: 0.41666667rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.travel .total .total-l {
  float: left;
  color: #474747;
  margin-top: 0.44444444rem;
}
.travel .total .total-r {
  float: right;
  color: #ff6333;
  font-size: 0.66666667rem;
  margin-top: 0.33333333rem;
}
.travel .total .total-r em {
  font-style: normal;
  font-size: 0.33333333rem;
}
.travel .sure {
  margin-top: 0.55555556rem;
  text-align: center;
}
.travel .sure .n-sure {
  width: 5.63888889rem;
  height: 1.11111111rem;
  display: inline-block;
  background-color: #ff6333;
  color: #fff;
  line-height: 1.11111111rem;
  font-size: 0.41666667rem;
  border-radius: 1.11111111rem;
}
.car {
  padding-bottom: 1rem;
}
.car .car-desc {
  background: #fff;
  padding-bottom: 0.41666667rem;
}
.car .tra-list {
  border-bottom: none;
}
.car .tra-list li {
  zoom: 1;
  padding: 0.5rem 0 0.625rem;
  /*height: (147/@r)*1rem;*/
  line-height: 1;
  height: auto;
}
.car .tra-list li .t-left {
  width: 90%;
}
.car .tra-list li:before,
.car .tra-list li:after {
  content: " ";
  display: table;
}
.car .tra-list li:after {
  clear: both;
}
.car .tra-list li img {
  width: 29%;
  height: auto;
  margin-top: 0.3rem;
}
.car .tra-list li .t-right {
  top: 50%;
  margin-top: -0.27777778rem;
}
.car .tra-list li .car-right {
  width: 65%;
  float: right;
}
.car .tra-list li .car-right .car-tit {
  font-size: 0.41666667rem;
  color: #000;
  font-weight: bold;
  line-height: 0.86111111rem;
}
.car .tra-list li .car-right .car-text {
  font-size: 0.27777778rem;
  padding: 0.08333333rem 0;
  line-height: 0.44444444rem;
  color: #999;
}
.car .tra-list li .car-right .car-text .car-icon {
  float: left;
  width: 0.48611111rem;
  height: 0.34722222rem;
  background: url(../images/travel_people.jpg);
  background-size: cover;
  margin-right: 0.13888889rem;
}
.car .tra-list li .car-right .car-text:last-child .car-icon {
  float: left;
  width: 0.36111111rem;
  height: 0.34722222rem;
  background: url(../images/travel_bag.jpg);
  background-size: cover;
  margin-right: 0.20833333rem;
}
.car .tra-list-desc {
  background: #f5f5f5;
  margin: 0 0.41666667rem;
  padding: 0.25rem 0 0 0.47222222rem;
}
.car .tra-list-desc h3 {
  font-size: 0.41666667rem;
  color: #26a367;
  line-height: 1.08333333rem;
}
.car .tra-list-desc ul li {
  color: #999;
  line-height: 0.80555556rem;
  font-size: 0.33333333rem;
}
.car .tra-list-desc p {
  color: #999;
  line-height: 0.80555556rem;
  font-size: 0.33333333rem;
}
/*登陆和快捷登陆*/
.logIn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.logIn .logIn_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.logIn .baseTit {
  background-color: transparent;
  font-size: 0.5rem;
  color: #474747;
}
.logIn .baseTit .return {
  background-image: url("../images/logIn_r.png");
}
.logIn .logIn-c {
  position: relative;
  padding: 1.27777778rem 1.02777778rem 0.69444444rem;
}
.logIn .logIn-c .logIn-tab {
  height: 1.16666667rem;
  color: #474747;
  font-size: 0.5rem;
}
.logIn .logIn-c .logIn-tab li {
  height: 0.69444444rem;
  line-height: 1;
}
.logIn .logIn-c .logIn-tab li.active {
  border-bottom: 0.08333333rem solid #5ad191;
  color: #5ad191;
}
.logIn .logIn-c .logIn-tab li:first-child {
  float: left;
}
.logIn .logIn-c .logIn-tab li:last-child {
  float: right;
}
.logIn .logIn-c .logIn-cont {
  height: 6.38888889rem;
  margin-bottom: 2rem;
}
.logIn .logIn-c .logIn-list {
  margin-bottom: 0.375rem;
}
.logIn .logIn-c .logIn-list li {
  padding-top: 0.54166667rem;
  height: 1.65277778rem;
  line-height: 1.11111111rem;
  font-size: 0.41666667rem;
  border-bottom: 1px solid #d9d9d9;
}
.logIn .logIn-c .logIn-list li span {
  float: left;
  margin-right: 0.41666667rem;
  margin-top: 0.27777778rem;
  height: 0.47222222rem;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.logIn .logIn-c .logIn-list li input {
  float: left;
  height: 100%;
  width: 87%;
}
.logIn .logIn-c .logIn-list li .codeInput {
  width: 52%;
}
.logIn .logIn-c .logIn-list li .send-code,
.logIn .logIn-c .logIn-list li .send-number {
  width: 35%;
  height: 0.83333333rem;
  text-align: center;
  line-height: 0.83333333rem;
  float: right;
  background-color: #f9bb62;
  color: #fff;
  border-radius: 3px;
  font-size: 0.33333333rem;
  margin-right: 0;
  margin-top: 0.11111111rem;
}
.logIn .logIn-c .logIn-list li .send-code:active {
  background-color: #f9bb62;
}
.logIn .logIn-c .logIn-list li .send-number {
  background-color: transparent;
  border-left: 1px solid #d9d9d9;
  font-size: 0.36111111rem;
}
.logIn .logIn-c .logIn-list li .send-number span {
  margin: 0;
  margin-left: 0.27777778rem;
  color: #ccc;
}
.logIn .logIn-c .logIn-list li .send-number a {
  color: #5ad191;
}
.logIn .logIn-c .logIn-list .userName {
  width: 0.44444444rem;
  background-image: url("../images/user.png");
}
.logIn .logIn-c .logIn-list .passWord {
  width: 0.375rem;
  height: 0.5rem;
  margin-left: 0.05555556rem;
  background-image: url("../images/password.png");
}
.logIn .logIn-c .logIn-list .phone {
  width: 0.33333333rem;
  height: 0.5rem;
  background-image: url("../images/iphone.png");
}
.logIn .logIn-c .logIn-list .code {
  width: 0.40277778rem;
  height: 0.48611111rem;
  background-image: url("../images/code.png");
}
.logIn .logIn-c .logIn-text {
  font-size: 0.33333333rem;
  position: relative;
  height: 0.55555556rem;
  margin-bottom: 0.55555556rem;
}
.logIn .logIn-c .l-t-left .t-right {
  left: 0;
  top: 0;
}
.logIn .logIn-c .l-t-left .remember {
  margin-left: 0.75rem;
  float: left;
  height: 0.55555556rem;
  line-height: 0.55555556rem;
  color: #757575;
}
.logIn .logIn-c .forget {
  position: absolute;
  right: 0;
  top: 0;
  color: #5ad191;
}
.logIn .logIn-go {
  height: 1.19444444rem;
  text-align: center;
  margin-bottom: 0.79166667rem;
  margin-top: 0.73611111rem;
}
.logIn .logIn-go a {
  width: 5.58333333rem;
  display: inline-block;
  line-height: 1.19444444rem;
  font-size: 0.41666667rem;
  color: #fff;
  background-color: #5ad191;
  box-shadow: 0 4px 15px #c6f4db;
  border-radius: 1.19444444rem;
}
.logIn .register {
  height: 0.55555556rem;
  line-height: 1;
  text-align: center;
  font-size: 0.41666667rem;
}
.logIn .register a {
  color: #5ad191;
  text-decoration: underline;
}
.logIn .logIn-bottom {
  position: relative;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  padding-top: 0.72222222rem;
}
.logIn .logIn-bottom .logIn-other {
  width: 2.33333333rem;
  font-size: 0.33333333rem;
  color: #d9d9d9;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: -0.22222222rem;
  left: 50%;
  margin-left: -1.16666667rem;
}
.logIn .logIn-bottom .other {
  height: 1.05555556rem;
}
.logIn .logIn-bottom .other img {
  height: 100%;
}
.logIn .logIn-bottom .other .qq {
  margin-right: 1.02777778rem;
}
.contact {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 0.36111111rem;
}
.contact .cont-list {
  padding: 0 0.5rem 0;
  margin-bottom: 0.55555556rem;
}
.contact .cont-list dt {
  padding-top: 0.20833333rem;
  height: 1.09722222rem;
  line-height: 0.88888889rem;
  font-size: 0.41666667rem;
  color: #26a367;
  font-weight: bold;
}
.contact .cont-list dd {
  line-height: 0.83333333rem;
  font-size: 0.33333333rem;
  color: #474747;
}
.contact dl:last-child {
  padding-bottom: 0.27777778rem;
  margin-bottom: 0;
}
.visa .hot-c {
  background-color: #fff;
  padding: 0 0.41666667rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.visa .hot-list {
  overflow: hidden;
}
.visa .hot-list li {
  width: 49%;
  height: 4.5rem;
  margin-bottom: 0.20833333rem;
  overflow: hidden;
}
.visa .hot-list li img {
  width: 100%;
}
.visa .hot-list li:last-child {
  float: right;
}
.visa .hot-text {
  position: absolute;
  top: 1.77777778rem;
  width: 100%;
  color: #fff;
  text-align: center;
}
.visa .hot-text h3 {
  height: 0.77777778rem;
  line-height: 1;
  font-size: 0.66666667rem;
  font-weight: bold;
}
.visa .hot-text p {
  height: 0.41666667rem;
  line-height: 1;
  font-size: 0.33333333rem;
}
.visa .hot-item1 {
  float: left;
  position: relative;
}
.visa .hot-item2 {
  float: right;
}
.visa .item2-l {
  float: left;
  position: relative;
  margin-bottom: 0.16666667rem;
}
.visa .item2-l .hot-text {
  padding-left: 0.25rem;
  top: 0.61111111rem;
  text-align: left;
}
.visa .item2-l .hot-text h3 {
  font-size: 0.5rem;
}
.visa .item2-s {
  float: left;
  width: 2.16666667rem;
  position: relative;
  margin-right: 0.15416667rem;
}
.visa .item2-s.mr-12 {
  margin-right: 0;
}
.visa .item2-s .item-tit {
  position: absolute;
  width: 100%;
  top: 0.30555556rem;
  text-align: center;
  color: #fff;
  font-size: 0.5rem;
  font-weight: bold;
}
.visa .hot-item3 {
  float: left;
}
.visa .hot-item3 .item2-l {
  width: 2.16666667rem;
  margin-right: 0.15416667rem;
}
.visa .hot-item3 .item2-l .hot-text {
  text-align: center;
  top: 0.27777778rem;
  padding-left: 0;
}
.visa .hot-item3 .item2-s {
  margin-right: 0;
  margin-bottom: 0.16666667rem;
}
.visa .visa-offer {
  margin-top: 0.34722222rem;
  background-color: #fff;
  padding: 0 0.41666667rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.visa .offer-list {
  height: 1.11111111rem;
}
.visa .offer-list li {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  text-align: center;
  font-size: 0.41666667rem;
  float: left;
  width: 16.6%;
  color: #999;
}
.visa .offer-list .active {
  color: #26a367;
  font-weight: bold;
}
.visa .offer-item {
  overflow: hidden;
}
.visa .offer-item > a {
  display: block;
  /*width:(208/@r)*1rem;*/
  width: 32%;
  float: left;
  padding-bottom: 0.68055556rem;
  /*margin-right: (12/@r)*1rem;*/
  margin-right: 2%;
}
.visa .offer-item > a img {
  width: 100%;
  margin-bottom: 0.36111111rem;
}
.visa .offer-item > a:nth-child(3n+0) {
  margin-right: 0;
}
.visa .offer-item .offer-tit {
  height: 0.625rem;
  line-height: 1;
  font-size: 0.41666667rem;
  color: #474747;
}
.visa .offer-item .offer-text {
  height: 0.51388889rem;
  line-height: 1;
  font-size: 0.27777778rem;
  color: #999;
}
.visa .offer-item .offer-sale {
  border: 1px solid #ff6333;
  background: #ff6333;
  height: 0.47222222rem;
  line-height: 0.47222222rem;
  text-align: center;
}
.visa .offer-item .offer-sale span:last-child {
  color: #fff;
  font-size: 0.25rem;
}
.visa .offer-item .offer-sale span:first-child {
  width: 53%;
  float: left;
  background: #fff;
  height: 100%;
  text-align: center;
  /*font-size: (24/@r)*1rem;*/
  color: #ff6333;
  /*height: (34/@r)*1rem;
				line-height:(34/@r)*1rem;*/
}
.line-list {
  position: relative;
}
.line-list .baseTit {
  position: relative;
  z-index: 2;
}
.sort-c {
  position: relative;
  z-index: 2;
}
.sort {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}
.sort li {
  float: left;
  width: 33%;
  text-align: center;
  padding: 0.27777778rem 0 0.23611111rem 0;
}
.sort li a {
  display: block;
  border-right: 1px solid #e6e6e6;
  font-size: 0.33333333rem;
  height: 0.48611111rem;
  line-height: 0.48611111rem;
  color: #999;
}
.sort li a.active {
  color: #26a367;
}
.sort li:last-child a {
  border-right: none;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.sort-mask {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0.97222222rem;
  background-color: #fff;
}
.sort-mask .sort-list {
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.75rem 0.41666667rem 0.5rem;
}
.sort-mask .sort-list li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-bottom: 0.44444444rem;
}
.sort-mask .sort-list li img {
  width: 1.25rem;
  margin-bottom: 0.38888889rem;
}
.sort-mask .sort-list li .item-p-text {
  font-size: 0.33333333rem;
  color: #999;
  height: 0.41666667rem;
}
.sort-mask .sort-list2,
.sort-mask .sort-l-c {
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.75rem 0.41666667rem 0.5rem;
}
.sort-mask .sort-list2 li,
.sort-mask .sort-l-c li {
  float: left;
  width: 33.33%;
  margin-bottom: 0.375rem;
}
.sort-mask .sort-list2 li span,
.sort-mask .sort-l-c li span {
  float: left;
  width: 85%;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  border: 2px solid #e6e6e6;
  text-align: center;
  border-radius: 5px;
  font-size: 0.33333333rem;
  color: #999;
  margin-left: 8%;
}
.sort-mask .sort-l-c {
  border-top: 0;
}
.visa-list .list {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background: #f2f2f2;
  margin-top: 0.34722222rem;
}
.visa-list .list ul {
  overflow: hidden;
  padding: 0 0.40277778rem;
  background-color: #fff;
}
.visa-list .list ul li {
  padding-top: 0.47222222rem;
  padding-bottom: 0.55555556rem;
  border-top: 1px solid #e6e6e6;
}
.visa-list .list ul li a {
  display: block;
  overflow: hidden;
}
.visa-list .list ul li a img {
  float: left;
  width: 2.5rem;
  height: 1.58333333rem;
}
.visa-list .list ul li a .detail {
  float: left;
  margin-left: 0.41666667rem;
}
.visa-list .list ul li a .detail h3 {
  font-size: 0.41666667rem;
  color: #474747;
  height: 0.44444444rem;
  line-height: 0.44444444rem;
}
.visa-list .list ul li a .detail .desc {
  color: #999;
  font-size: 0.27777778rem;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
}
.visa-list .list ul li a .detail .price {
  color: #ff6333;
  font-weight: bold;
}
.visa-list .list ul li a .detail .price span:first-child {
  font-size: 0.27777778rem;
}
.visa-list .list ul li a .detail .price span:last-child {
  font-size: 0.41666667rem;
}
.visa-list .list ul li:first-child {
  border-top: none;
}
.data .data-list li {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.45833333rem 0.41666667rem 0.5rem;
  margin-top: 0.38888889rem;
}
.data .data-list li h3 {
  height: 0.5rem;
  line-height: 1;
  margin-bottom: 0.27777778rem;
}
.data .data-list li h3 span:first-child {
  font-size: 0.5rem;
  color: #26a367;
  font-weight: bold;
  float: left;
}
.data .data-list li h3 span:last-child {
  float: right;
  width: 1.56944444rem;
  text-align: center;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #ff6333;
  color: #fff;
  font-size: 0.25rem;
  border-radius: 3px;
}
.data .data-list li p {
  font-size: 0.33333333rem;
  line-height: 0.63888889rem;
  color: #474747;
}
.data .data-list li p a {
  display: block;
  width: 1.56944444rem;
  text-align: center;
  height: 0.58333333rem;
  line-height: 0.58333333rem;
  border: 1px solid #26a367;
  font-size: 0.27777778rem;
  color: #26a367;
  border-radius: 3px;
  margin-top: 0.20833333rem;
}
.detail_con {
  width: 100%;
  background: #f2f2f2;
}
.detail_con .detail_title {
  border-bottom: 1px solid #e6e6e6;
  padding: 0.61111111rem 0.40277778rem 0.56944444rem 0.40277778rem;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0.33333333rem;
}
.detail_con .detail_title img {
  width: 2.5rem;
  height: 1.58333333rem;
  float: left;
  margin-right: 0.44444444rem;
}
.detail_con .detail_title .title_right {
  float: left;
  padding-bottom: 0.13888889rem;
}
.detail_con .detail_title .title_right h3 {
  color: #474747;
  font-size: 0.41666667rem;
  height: 0.94444444rem;
  line-height: 0.94444444rem;
  font-weight: bold;
}
.detail_con .detail_title .title_right p {
  color: #ff6333;
  font-size: 0.41666667rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-weight: bold;
}
.detail_con .detail_title .title_right p span:first-child {
  font-size: 0.27777778rem;
}
.detail_con .product {
  background: #fff;
  padding: 0.33333333rem 0.40277778rem 0.63888889rem 0.40277778rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.33333333rem;
}
.detail_con .product h3 {
  color: #26a367;
  font-size: 0.5rem;
  height: 0.72222222rem;
  line-height: 0.72222222rem;
  font-weight: bold;
}
.detail_con .product .pro_detail {
  color: #474747;
  font-size: 0.33333333rem;
  line-height: 0.63888889rem;
  margin-bottom: 0.11111111rem;
}
.detail_con .product .pro_apply {
  overflow: hidden;
}
.detail_con .product .pro_apply li {
  width: 31.3%;
  float: left;
  margin-right: 3%;
  padding-top: 0.29166667rem;
}
.detail_con .product .pro_apply li p {
  text-align: center;
  font-size: 0.33333333rem;
  border: 1px solid #5ad191;
  border-top: 0;
  height: 0.84722222rem;
  line-height: 0.84722222rem;
}
.detail_con .product .pro_apply li p:first-child {
  font-size: 0.30555556rem;
  border: 0;
  height: 0.65277778rem;
  line-height: 0.65277778rem;
  background: #5ad191;
  color: #fff;
}
.detail_con .product .pro_apply li:nth-child(3n+0) {
  margin-right: 0;
}
.detail_con .info {
  background: #fff;
  padding: 0 0.40277778rem 0 0.40277778rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0.33333333rem;
}
.detail_con .info h3 {
  color: #26a367;
  font-size: 0.5rem;
  height: 1.36111111rem;
  line-height: 1.36111111rem;
  font-weight: bold;
}
.detail_con .info > div a {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 0.08333333rem;
  height: 1.30555556rem;
  line-height: 1.30555556rem;
  color: #474747;
  position: relative;
  font-size: 0.41666667rem;
}
.detail_con .info > div a .fa-angle-right {
  /*font-size: (36/@r)*1rem;*/
  color: #d9d9d9;
  position: absolute;
  right: 0.06944444rem;
  top: 0.33333333rem;
}
.detail_con .info > div a:last-child {
  border-bottom: 0;
}
.detail_con .notice {
  background: #fff;
  padding: 0.18055556rem 0.40277778rem 0.27777778rem 0.40277778rem;
  margin-bottom: 0.33333333rem;
}
.detail_con .notice h3 {
  color: #26a367;
  font-size: 0.5rem;
  height: 1.02777778rem;
  line-height: 1.02777778rem;
  font-weight: bold;
}
.detail_con .notice > p {
  font-size: 0.33333333rem;
  color: #474747;
  line-height: 0.63888889rem;
}
.detail_con .reserve {
  background: #fff;
  padding: 0.22222222rem 0.40277778rem;
  margin-bottom: 0.33333333rem;
  overflow: hidden;
}
.detail_con .reserve p.money {
  float: left;
  color: #ff6333;
  height: 0.91666667rem;
  line-height: 0.91666667rem;
  font-size: 0.66666667rem;
  font-weight: bold;
}
.detail_con .reserve p.money span:first-child {
  font-size: 0.33333333rem;
}
.detail_con .reserve a {
  float: right;
  width: 3.33333333rem;
  background: #ff6333;
  height: 0.91666667rem;
  line-height: 0.91666667rem;
  font-size: 0.41666667rem;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}
/*个人中心*/
.personal {
  background: url("../images/pre_center.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.personal .baseTit {
  background-color: transparent;
}
.personal .cont {
  padding-top: 0.69444444rem;
  text-align: center;
}
.personal .pre-border {
  display: inline-block;
  width: 2.16666667rem;
  height: 2.16666667rem;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.11111111rem;
}
.personal .pre-border img {
  width: 1.94444444rem;
  height: 1.94444444rem;
  border-radius: 50%;
}
.personal .personal-top {
  margin-bottom: 0.30555556rem;
}
.personal .pre-list {
  height: 1.86111111rem;
  margin-bottom: 0.45833333rem;
}
.personal .pre-list li {
  width: 33.3%;
  float: left;
  text-align: center;
  background: url("../images/pre_line.png") center right no-repeat;
}
.personal .pre-list li img {
  width: 1.11111111rem;
  height: 1.11111111rem;
}
.personal .pre-list li span {
  display: block;
  height: 0.75rem;
  line-height: 0.75rem;
  color: #a6a6a6;
}
.personal .pre-list li:last-child {
  background: none;
}
.personal .pre-cont {
  background-color: #fff;
}
.personal .pre-c-list {
  height: 1rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0.30555556rem;
  color: #999;
}
.personal .pre-c-list li {
  float: left;
  width: 20%;
  text-align: center;
}
.personal .pre-c-list li span {
  display: inline-block;
  padding: 0.33333333rem 0 0.27777778rem;
}
.personal .pre-c-list .active span {
  color: #26a367;
  padding-bottom: 0.19444444rem;
  border-bottom: 3px solid #26a367;
}
.personal .pre-tab {
  min-height: 8.88888889rem;
  background-color: #fff;
}
.personal .pre-tab .per-tab-list {
  padding: 0 0.41666667rem;
}
.personal .pre-tab .per-tab-list li {
  padding-top: 0.47222222rem;
  padding-bottom: 0.52777778rem;
  border-bottom: 1px solid #e6e6e6;
}
.personal .pre-tab .per-tab-list li img {
  width: 2.19444444rem;
  height: 1.38888889rem;
  float: left;
}
.personal .pre-tab .per-tab-list .tab-right {
  margin-left: 2.5rem;
  margin-right: 0.27777778rem;
}
.personal .pre-tab .per-tab-list .tab-right p {
  height: 0.47222222rem;
  line-height: 1;
  color: #999;
  font-size: 0.30555556rem;
}
.personal .pre-tab .per-tab-list .tab-right p span {
  margin-right: 0.25rem;
}
.personal .pre-tab .per-tab-list .tab-right p span em {
  font-style: normal;
  color: #ff6333;
}
.personal .pre-tab .per-tab-list .tab-link {
  width: 0.27777778rem;
  height: 0.44444444rem;
  margin-top: 0.52777778rem;
  float: right;
  background: url("../images/tab_right.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.personal .pre-tab .per-tab-list .tab-tit {
  padding-top: 0.27777778rem;
  font-size: 0.41666667rem;
  color: #474747;
  line-height: 1;
  margin-bottom: 0.23611111rem;
}
.personal .green-line {
  margin-top: 0;
}
/*线路相关*/
.line-list .list {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background: #f2f2f2;
  margin-top: 0.34722222rem;
}
.line-list .list ul {
  overflow: hidden;
  padding: 0 0.40277778rem;
  background-color: #fff;
}
.line-list .list ul li {
  padding-top: 0.47222222rem;
  padding-bottom: 0.55555556rem;
  border-top: 1px solid #e6e6e6;
}
.line-list .list ul li a {
  display: block;
  overflow: hidden;
}
.line-list .list ul li a img {
  float: left;
  width: 2.5rem;
  height: 1.58333333rem;
}
.line-list .list ul li a .detail {
  float: left;
  margin-left: 0.41666667rem;
}
.line-list .list ul li a .detail h3 {
  font-size: 0.41666667rem;
  color: #474747;
  height: 0.75rem;
  line-height: 0.75rem;
}
.line-list .list ul li a .detail > div {
  margin: 0.11111111rem 0 0.27777778rem 0;
  overflow: hidden;
}
.line-list .list ul li a .detail > div .mark {
  display: block;
  float: left;
  /*width: (100/@r)*1rem;*/
  padding: 0 0.27777778rem;
  border: 1px solid #5ad191;
  border-radius: 0.22222222rem;
  text-align: center;
  color: #5ad191;
  height: 0.41666667rem;
  line-height: 0.41666667rem;
  margin-right: 0.27777778rem;
  font-size: 0.25rem;
}
.line-list .list ul li a .detail > div .price {
  color: #ff6333;
  font-weight: bold;
  float: left;
  height: 0.44444444rem;
}
.line-list .list ul li a .detail > div .price span:first-child {
  font-size: 0.27777778rem;
}
.line-list .list ul li a .detail > div .price span:last-child {
  font-size: 0.41666667rem;
}
.line-list .list ul li:first-child {
  border-top: none;
}
.line-index .green-line {
  margin-top: 0;
}
.line-index .bg img {
  width: 10rem;
  height: 4.01388889rem;
}
.line-index .index-t {
  margin-bottom: 0.06944444rem;
}
.line-index .index-t:last-child {
  margin-bottom: 0;
}
.line-index .index-t .title {
  position: relative;
  height: 1.81944444rem;
}
.line-index .index-t .title img {
  position: absolute;
  left: 50%;
  top: 50%;
}
.line-index .index-t .title a {
  position: absolute;
  background: url('../images/line_more.png') no-repeat;
  right: 0.27777778rem;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background-size: contain;
  top: 30%;
}
.line-index .index-t.t1 {
  background: #fed03f;
  padding-bottom: 0.5rem;
}
.line-index .index-t.t1 .title img {
  width: 5.58333333rem;
  height: 0.83333333rem;
  margin-left: -2.79166667rem;
  margin-top: -0.41666667rem;
}
.line-index .index-t.t2 {
  background: #a1d859;
  padding-bottom: 0.5rem;
}
.line-index .index-t.t2 .title img {
  width: 3.77777778rem;
  height: 0.83333333rem;
  margin-left: -1.88888889rem;
  margin-top: -0.41666667rem;
}
.line-index .index-t.t3 {
  background: #66bdf3;
  padding-bottom: 0.5rem;
}
.line-index .index-t.t3 .title img {
  width: 4.52777778rem;
  height: 0.83333333rem;
  margin-left: -2.26388889rem;
  margin-top: -0.41666667rem;
}
.line-index .index-t.t4 {
  background: #af60b3;
  padding-bottom: 0.5rem;
}
.line-index .index-t.t4 .title img {
  width: 5.77777778rem;
  height: 0.83333333rem;
  margin-left: -2.88888889rem;
  margin-top: -0.41666667rem;
}
.line-index .index-t .con-1 {
  padding: 0 0.27777778rem;
  padding-bottom: 0.29166667rem;
}
.line-index .index-t .con-1 .con-img {
  position: relative;
}
.line-index .index-t .con-1 .con-img img {
  width: 9.44444444rem;
  height: 4.40277778rem;
}
.line-index .index-t .con-1 .con-img .con-img-title {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.line-index .index-t .con-1 .con-img .con-img-title span {
  font-size: 0.41666667rem;
  display: block;
  float: left;
  height: 0.72222222rem;
  line-height: 0.72222222rem;
  color: #fff;
  padding: 0 0.33333333rem;
}
.line-index .index-t .con-1 .con-img .con-img-title span:first-child {
  background: rgba(0, 0, 0, 0.5);
}
.line-index .index-t .con-1 .con-img .con-img-title span:last-child {
  background: #ff6333;
}
.line-index .index-t .con-1 .desc {
  color: #474747;
  font-size: 0.41666667rem;
  background: #fff;
  height: 1.18055556rem;
  line-height: 1.18055556rem;
  padding: 0 0.30555556rem;
}
.line-index .index-t .con-bottom {
  overflow: hidden;
  padding: 0 0.27777778rem;
}
.line-index .index-t .con-bottom .con-left {
  position: relative;
  float: left;
  margin-right: 0.16666667rem;
}
.line-index .index-t .con-bottom .con-left:last-child {
  margin-right: 0;
}
.line-index .index-t .con-bottom .con-left > img {
  width: 4.63888889rem;
  height: 3.02777778rem;
}
.line-index .index-t .con-bottom .con-left .con-title {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ff6333;
  background: #ff6333;
  overflow: hidden;
}
.line-index .index-t .con-bottom .con-left .con-title span {
  padding: 0 0.25rem;
  display: block;
  float: left;
  font-size: 0.25rem;
  height: 0.47222222rem;
  line-height: 0.47222222rem;
}
.line-index .index-t .con-bottom .con-left .con-title span:first-child {
  background: #ff6333;
  color: #fff;
}
.line-index .index-t .con-bottom .con-left .con-title span:last-child {
  background: #fff;
  color: #ff6333;
}
.line-index .index-t .con-bottom .con-left .left-desc {
  background: #fff;
  padding: 0 0.30555556rem;
  padding-top: 0.30555556rem;
  font-size: 0.41666667rem;
  color: #474747;
}
.line-index .index-t .con-bottom .con-left .desc-small {
  padding-left: 0.27777778rem;
  padding-bottom: 0.11111111rem;
  font-size: 0.27777778rem;
  background: #fff;
  height: 0.72222222rem;
  line-height: 0.72222222rem;
  color: #999;
}
.jd-money {
  float: right;
  color: #ff8334;
  font-weight: bold;
  /*font-size: (42/@r)*1rem;*/
}
.jd-money span:first-child {
  font-size: 0.5em;
}
.jd-money span:nth-child(2) {
  font-size: 1em;
}
.jd-money span:nth-child(3) {
  font-weight: normal;
  font-size: 0.8em;
}
/*出行时间*/
.time .time-cont {
  background-color: #fff;
  margin-top: 0.40277778rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.time .time-tit {
  text-align: center;
  font-size: 0.41666667rem;
  color: #474747;
  padding-top: 0.34722222rem;
}
.time .time-tit span {
  position: relative;
  display: inline-block;
  height: 0.55555556rem;
  line-height: 0.55555556rem;
}
.time .time-tit strong {
  font-style: normal;
}
.time .time-tit em {
  position: absolute;
  top: 0;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.time .time-tit .left {
  background-image: url("../images/more_left.png");
  left: -0.83333333rem;
}
.time .time-tit .right {
  background-image: url("../images/more.png");
  right: -0.83333333rem;
}
.time .week {
  height: 1.13888889rem;
  line-height: 1.13888889rem;
  font-weight: bold;
}
.time .week li {
  width: 14.28%;
  text-align: center;
  float: left;
  font-size: 0.41666667rem;
  color: #474747;
}
.time .week li:first-child {
  color: #26a367;
}
.time .week li:last-child {
  color: #26a367;
}
.time .list-day {
  overflow: hidden;
  zoom: 1;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.time .list-day:before,
.time .list-day:after {
  content: " ";
  display: table;
}
.time .list-day:after {
  clear: both;
}
.time .list-day li {
  width: 14.554%;
  text-align: center;
  float: left;
  height: 1.5rem;
  color: #999;
  border: 1px solid #e6e6e6;
  margin-top: -1px;
  margin-left: -1px;
  position: relative;
  font-size: 0.33333333rem;
}
.time .list-day li span {
  display: inline-block;
  padding-top: 0.13888889rem;
  color: #999;
  padding-bottom: 0.06944444rem;
}
.time .list-day li em {
  font-style: normal;
}
.time .list-day li strong {
  color: #ff6333;
  font-style: normal;
}
.time .list-day li p {
  width: 100%;
  height: 0.36111111rem;
  line-height: 0.41666667rem;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.25rem;
  background-color: #a6a6a6;
  color: #fff;
}
.time .list-day li .active {
  height: 1.47916667rem;
  border: 3px solid #26a367;
  border-bottom: none;
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: 0;
}
.time .list-day li .active p {
  background-color: #26a367;
  color: #fff;
  bottom: 0;
}
@media screen and (min-width: 410px) {
  .time .list-day li {
    width: 14.4%;
  }
}
/*订单*/
.order .order-item {
  padding: 0.33333333rem 0.41666667rem;
  background-color: #fff;
  margin-top: 0.38888889rem;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  height: 2.08333333rem;
}
.order .order-item img {
  width: 2.19444444rem;
  height: 1.38888889rem;
  float: left;
}
.order .order-item .tab-right {
  margin-left: 2.5rem;
  margin-right: 0.27777778rem;
}
.order .order-item .tab-right p {
  height: 0.47222222rem;
  line-height: 1;
  font-size: 0.30555556rem;
}
.order .order-item .tab-right p .order-type {
  display: inline-block;
  width: 1.33333333rem;
  height: 0.375rem;
  line-height: 0.375rem;
  border: 1px solid #5ad191;
  border-radius: 0.375rem;
  font-size: 0.25rem;
  text-align: center;
  color: #5ad191;
  margin-right: 0.25rem;
}
.order .order-item .tab-right p em {
  font-style: normal;
  color: #ff6333;
  font-weight: bold;
}
.order .order-item .tab-tit {
  padding-top: 0.27777778rem;
  font-size: 0.41666667rem;
  color: #474747;
  line-height: 1;
  margin-bottom: 0.23611111rem;
}
.order .cont-list {
  padding: 0 0.40277778rem;
  background-color: #fff;
  margin-top: 0.38888889rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.order .cont-list .order-c-tit {
  height: 1.41666667rem;
  line-height: 1.41666667rem;
  font-size: 0.41666667rem;
  color: #26a367;
}
.order .cont-list .order-tit {
  font-weight: bold;
  margin-bottom: 0.36111111rem;
}
.order .tra-list {
  margin-top: 0;
  border: 0;
  padding: 0;
}
.order .order-status {
  padding-left: 0.59722222rem;
}
.order .order-status .order-dian {
  width: 0.26388889rem;
  height: 0.26388889rem;
  position: absolute;
  left: -0.15277778rem;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.order .order-status .order-s-t {
  font-size: 0.33333333rem;
  color: #999;
  height: 0.44444444rem;
  line-height: 1;
}
.order .order-status .status-text {
  height: 0.77777778rem;
  line-height: 0.77777778rem;
  font-size: 0.41666667rem;
  color: #474747;
}
.order .order-status li {
  border-left: 0.05555556rem solid #d9d9d9;
  padding-left: 0.61111111rem;
  padding-bottom: 0.44444444rem;
  position: relative;
}
.order .order-status li:first-child .order-dian {
  width: 0.44444444rem;
  height: 0.44444444rem;
  left: -0.25rem;
  background-color: #2ea269;
}
.order .order-status li:first-child .status-text {
  color: #2ea269;
  font-weight: bold;
}
.order .order-status li:last-child {
  border-left: none;
  margin-left: 0.05555556rem;
}
.order .order-bottom {
  margin-top: 0.375rem;
  padding-left: 0.40277778rem;
}
.order .order-bottom p {
  color: #999;
  font-size: 0.41666667rem;
  height: 0.83333333rem;
  line-height: 0.83333333rem;
}
/*线路详情*/
.l-details .line-details {
  background-color: #fff;
  padding-bottom: 0.44444444rem;
}
.l-details .line-details p {
  height: 0.43055556rem;
  padding: 0 0.41666667rem;
}
.l-details .line-details .mark {
  min-width: 1.33333333rem;
  padding: 0 0.15rem;
  height: 0.375rem;
  line-height: 0.375rem;
  float: left;
  border: 0.02777778rem solid #5ad191;
  color: #5ad191;
  border-radius: 0.375rem;
  text-align: center;
  font-size: 0.25rem;
  margin-right: 0.26388889rem;
}
.l-details .line-details .price {
  line-height: 0.41666667rem;
  font-size: 0.41666667rem;
  color: #ff6333;
}
.l-details .line-details .price em {
  font-style: normal;
  font-size: 0.27777778rem;
}
.l-details .l-detail {
  margin-bottom: 0.41666667rem;
  position: relative;
}
.l-details .l-detail img {
  width: 100%;
}
.l-details .l-detail p {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.72222222rem;
  line-height: 0.72222222rem;
  font-size: 0.41666667rem;
  color: #fff;
}
.l-details .l-detail p span {
  float: left;
  height: 100%;
  padding: 0 0.36111111rem;
}
.l-details .l-detail p span:first-child {
  background-color: rgba(0, 0, 0, 0.5);
}
.l-details .l-detail p span:last-child {
  background-color: #ff6333;
}
.l-details .l-detail-t {
  height: 0.69444444rem;
  line-height: 1;
  padding: 0 0.41666667rem;
  font-size: 0.41666667rem;
  color: #474747;
}
.l-details .line-item {
  margin-top: 0.41666667rem;
  background-color: #fff;
  padding: 0.44444444rem 0.41666667rem;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.l-details .line-item .line-tit {
  height: 0.75rem;
  font-size: 0.5rem;
  color: #26a367;
  font-weight: bold;
}
.l-details .line-item .line-list3 li {
  line-height: 0.63888889rem;
  color: #474747;
  font-size: 0.33333333rem;
}
.l-details .line-item .line-list2 {
  margin-top: 0.73611111rem;
  padding-left: 0.5rem;
}
.l-details .line-item .line-list2 li {
  border-left: 0.05555556rem solid #e6e6e6;
  padding-bottom: 0.63888889rem;
  position: relative;
  padding-left: 0.76388889rem;
}
.l-details .line-item .line-list2 li h3 {
  height: 0.61111111rem;
  line-height: 1;
  color: #474747;
  font-size: 0.41666667rem;
}
.l-details .line-item .line-list2 li p {
  line-height: 0.63888889rem;
  font-size: 0.33333333rem;
  color: #999;
}
.l-details .line-item .line-list2 li p img {
  max-width: 100%;
}
.l-details .line-item .line-list2 li span {
  width: 0.38888889rem;
  height: 0.38888889rem;
  background-color: #2ea269;
  border-radius: 50%;
  position: absolute;
  left: -0.22222222rem;
  top: 0;
}
.l-details .line-item .line-list2 li .big-dian {
  display: none;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  left: -0.52777778rem;
  top: -0.30555556rem;
  color: #fff;
  text-align: center;
  font-size: 0.33333333rem;
}
.l-details .line-item .line-list2 li .big-dian em {
  font-style: normal;
  font-size: 0.19444444rem;
}
.l-details .line-item .line-list2 .active .big-dian {
  display: block;
}
.l-details .line-item .line-list2 .active h3 {
  font-weight: bold;
}
.l-details .line-item .line-list2 li:last-child {
  border-left: none;
  margin-left: 0.05555556rem;
}
.l-details .line-item .line-list {
  color: #999;
  font-size: 0.33333333rem;
}
.l-details .line-item .line-list li {
  line-height: 0.63888889rem;
}
.l-details .line-item .line-list li span {
  color: #474747;
}
.l-details .line-sure {
  padding: 0.20833333rem 0.41666667rem;
  background-color: #fff;
  height: 1.36111111rem;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-top: 0.41666667rem;
}
.l-details .line-sure .money {
  float: left;
  color: #ff6333;
  height: 0.91666667rem;
  font-size: 0.66666667rem;
  line-height: 0.91666667rem;
}
.l-details .line-sure .money span {
  font-size: 0.33333333rem;
}
.l-details .line-sure a {
  float: right;
  height: 0.91666667rem;
  width: 3.33333333rem;
  text-align: center;
  line-height: 0.91666667rem;
  background-color: #ff6333;
  color: #fff;
  font-size: 0.41666667rem;
  border-radius: 5px;
}
/*手机论坛列表*/
.luntan {
  background: #f7f7f7;
}
.luntan .i-top {
  position: relative;
}
.luntan .i-top .logo {
  position: absolute;
  left: 0.27777778rem;
  top: 0.27777778rem;
  width: 1.80555556rem;
  z-index: 2;
}
.luntan .i-top .t-img {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.luntan .con {
  padding: 0.69444444rem 0.41666667rem;
}
.luntan .con h3.title {
  font-size: 0.41666667rem;
  color: #333;
  text-align: center;
  font-weight: bold;
}
.luntan .con .info {
  color: #808080;
  font-size: 0.27777778rem;
  line-height: 1.11111111rem;
  text-align: center;
}
.luntan .con li {
  background: #fff;
  padding-bottom: 0.13888889rem;
  /*box-shadow: 0 (30/@r)*1rem 0 0 #f0f0f0;*/
  margin-bottom: 0.41666667rem;
  border-radius: 5px;
}
.luntan .con .top img {
  width: 100%;
}
.headimg {
  position: relative;
  top: -1.66666667rem;
  height: 1.38888889rem;
}
.headimg h3.name {
  text-align: center;
  font-size: 0.41666667rem;
  line-height: 0.55555556rem;
  color: #fff;
  font-weight: bold;
}
.headimg .pre-border {
  position: relative;
  left: 50%;
  top: 0.13888889rem;
  margin-left: -1.08333333rem;
  display: inline-block;
  width: 2.16666667rem;
  height: 2.16666667rem;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.11111111rem;
}
.headimg .pre-border img {
  width: 1.94444444rem;
  height: 1.94444444rem;
  border-radius: 50%;
}
.luntan2 {
  background-color: #fff;
}
.luntan2 h3.title {
  font-size: 0.41666667rem;
  color: #333;
  text-align: center;
  font-weight: bold;
}
.luntan2 .info {
  color: #808080;
  font-size: 0.27777778rem;
  line-height: 1.11111111rem;
  text-align: center;
}
.luntan2 .travel_notes {
  border-top: 1px solid #e6e6e6;
  margin: 0 0.41666667rem 0;
  padding-top: 0.75rem;
}
.luntan2 .travel_notes .notes_item {
  margin-bottom: 1.02777778rem;
}
.luntan2 .travel_notes .notes_tit {
  font-size: 0.41666667rem;
  height: 0.65277778rem;
  color: #3ebd62;
  font-weight: bold;
}
.luntan2 .travel_notes .notes_text {
  line-height: 0.91666667rem;
  font-size: 0.41666667rem;
  color: #333;
  margin-bottom: 0.55555556rem;
}
.luntan2 .travel_notes img {
  width: 100%;
}
.luntan2 .headimg {
  top: -1.38888889rem;
  margin-bottom: -0.41666667rem;
}
.luntan2 .pre-border {
  width: 1.38888889rem;
  height: 1.38888889rem;
  margin-left: -0.69444444rem;
}
.luntan2 .pre-border img {
  width: 1.27777778rem;
  height: 1.27777778rem;
}
