/*.p2r($px) {
  left: ($px / @r) * 1rem;
}
*/
@function rem2px ($rem) {
  @return ($rem * @r) * 1px;
}
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  vertical-align: middle;
}
input {
  outline: none;
  border: none;
}
::-webkit-clear-button {
  -webkit-appearance: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  outline: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}
.baseTit {
  position: relative;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #26a367;
  font-size: 0.5rem;
  color: #fff;
}
.t-f {
  position: absolute;
  right: 0.41666667rem;
  top: 0.38888889rem;
  width: 0.5rem;
  height: 0.38888889rem;
  background: url("../images/t_fuction.png") no-repeat;
  background-size: 100%;
}
.return {
  position: absolute;
  left: 0.41666667rem;
  top: 0.30555556rem;
  width: 0.61111111rem;
  height: 0.61111111rem;
  background: url("../images/return.png") no-repeat;
  background-size: cover;
}
.preNext {
  text-align: center;
  margin-top: 0.65277778rem;
}
.preNext a {
  width: 3.69444444rem;
  height: 1.06944444rem;
  display: inline-block;
  text-align: center;
  line-height: 1.06944444rem;
  color: #5ad191;
  border: 2px solid #5ad191;
  border-radius: 0.52777778rem;
  font-size: 0.41666667rem;
}
.preNext .next {
  background-color: #5ad191;
  color: #fff;
  margin-left: 0.41666667rem;
}
/*//右侧选中的对勾*/
.t-right {
  position: absolute;
  right: 0;
  top: 0.44444444rem;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background: url("../images/select.png") no-repeat;
  background-size: cover;
}
.selected .t-right {
  background-image: url("../images/selected.png");
}
/*公共底部*/
.green-line {
  height: 0.125rem;
  background-color: #26a367;
}
.i-bottom {
  background: #353641;
  padding-bottom: 0.38888889rem;
}
.i-bottom .bottom-list a {
  display: inline-block;
  width: 32.5%;
  text-align: center;
  color: #a9aab7;
  font-size: 0.41666667rem;
  padding: 0.66666667rem 0;
}
.i-bottom p {
  font-size: 0.25rem;
  color: #676876;
  text-align: center;
  line-height: 0.47222222rem;
}
.hide {
  display: none;
}
.index {
  background-color: #f7f7f7;
  font-family: "微软雅黑";
}
.index .i-top {
  position: relative;
}
.index .i-top .logo {
  position: absolute;
  left: 0.27777778rem;
  top: 0.27777778rem;
  width: 1.80555556rem;
  z-index: 2;
}
.index .i-top .t-img {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.index .i-swipe {
  width: 9.16666667rem;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0 auto;
  padding-top: 0.31944444rem;
  padding-bottom: 0.36111111rem;
  margin-top: -2.5rem;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 0 4px 6px #eee;
  margin-bottom: 0.97222222rem;
}
.index .i-swipe ul {
  margin-bottom: 0.5rem;
}
.index .i-swipe ul li {
  width: 6.25rem;
}
.index .i-swipe ul li h3 {
  font-size: 0.5rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  text-align: center;
}
.index .i-swipe ul li p {
  width: 6.25rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.41666667rem;
  /*height: (46/@r)*1rem;*/
  line-height: 0.63888889rem;
  color: #808080;
}
.index .i-swipe .swiper-pagination {
  /*margin-bottom: 0;*/
}
.index .i-cont {
  margin: 0 0.40277778rem;
}
.index .i-cont .i-tit {
  height: 0.80555556rem;
  line-height: 1;
  font-size: 0.41666667rem;
  color: #4c4c4c;
}
.index .i-cont .i-tit span {
  float: left;
}
.index .i-cont .i-tit a {
  font-size: 0.33333333rem;
  color: #4c4c4c;
  float: right;
  padding-top: 0.09722222rem;
}
.index .i-cont .item-list1 {
  padding-bottom: 0.63888889rem;
}
.index .i-cont .item-list1 li {
  position: relative;
  height: 4.79166667rem;
  box-shadow: 0 4px 6px #d5d5d5;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
.index .i-cont .item-list1 img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 6px;
}
.index .i-cont .item-list1 .item-text {
  position: absolute;
  left: 0.33333333rem;
  bottom: 0;
  height: 0.70833333rem;
  font-size: 0.41666667rem;
  color: #fff;
  font-weight: bold;
}
.index .i-cont .item-list2 {
  margin: 0.23611111rem 0.22222222rem 0.76388889rem 0.08333333rem;
  overflow: hidden;
}
.index .i-cont .item-list2 li {
  padding: 0 0.45833333rem;
  width: 2.95833333rem;
  float: left;
  margin-bottom: 0.27777778rem;
}
.index .i-cont .item-list2 .list-tit {
  font-size: 0.33333333rem;
  color: #c1aa64;
  line-height: 0.88888889rem;
  text-align: center;
}
.index .i-cont .item-list2 img {
  width: 2.04166667rem;
}
.index .i-cont .item-list3 {
  overflow: hidden;
  padding-bottom: 0.86111111rem;
}
.index .i-cont .item-list3 li {
  margin-right: 0.31944444rem;
  width: 4.43055556rem;
  float: left;
  background-color: #fff;
  box-shadow: 0 4px 6px #d5d5d5;
  height: 6.73611111rem;
  border-radius: 6px;
  padding-bottom: 0.43055556rem;
}
.index .i-cont .item-list3 li.m-none {
  margin-right: 0;
}
.index .i-cont .item-list3 .list3-img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.index .i-cont .item-list3 .user-img {
  margin: 0 auto;
  width: 1.38888889rem;
  margin-top: -0.73611111rem;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
}
.index .i-cont .item-list3 .user-img img {
  width: 1.27777778rem;
  border-radius: 50%;
  margin-top: 0.05555556rem;
}
.index .i-cont .item-list3 .list3-tit {
  font-size: 0.41666667rem;
  line-height: 0.69444444rem;
  color: #333;
  text-align: center;
}
.index .i-cont .item-list3 .list3-text {
  line-height: 0.55555556rem;
  font-size: 0.33333333rem;
  color: #808080;
  text-align: center;
}
/*导航效果*/
.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 3;
}
.nav .nav-tit {
  height: 1.25rem;
  background-color: #26a367;
  position: relative;
}
.nav .nav-tit .logo {
  height: 0.77777778rem;
  margin-top: 0.23611111rem;
}
.nav .nav-tit .nav-close {
  width: 0.41666667rem;
  height: 0.41666667rem;
  position: absolute;
  right: 0.41666667rem;
  top: 0.44444444rem;
  background: url("../images/close.png") no-repeat;
  background-size: cover;
}
.nav .nav-list {
  padding: 0 1.36111111rem 0.55555556rem;
  background-color: #fff;
  text-align: left;
  font-size: 0.41666667rem;
}
.nav .nav-list li {
  height: 1.375rem;
  line-height: 1.375rem;
  border-bottom: 1px solid #e6e6e6;
}
.nav .nav-list li span {
  margin-right: 0.55555556rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 0.41666667rem;
  float: left;
}
.nav .nav-list li a {
  color: #26a367;
}
.nav .nav-list li:last-child {
  border-bottom: none;
}
.nav .nav-list .nav-icon8,
.nav .nav-list .nav-icon7,
.nav .nav-list .nav-icon6 {
  width: 0.5rem;
  height: 0.5rem;
  background-image: url("../images/nav_icon8.png");
}
.nav .nav-list .nav-icon7 {
  background-image: url("../images/nav_icon7.png");
}
.nav .nav-list .nav-icon6 {
  background-image: url("../images/nav_icon6.png");
}
.nav .nav-list .nav-icon5 {
  width: 0.38888889rem;
  height: 0.51388889rem;
  background-image: url("../images/nav_icon5.png");
}
.nav .nav-list .nav-icon4 {
  width: 0.41666667rem;
  height: 0.48611111rem;
  background-image: url("../images/nav_icon4.png");
}
.nav .nav-list .nav-icon3 {
  width: 0.47222222rem;
  height: 0.48611111rem;
  background-image: url("../images/nav_icon3.png");
}
.nav .nav-list .nav-icon2,
.nav .nav-list .nav-icon1 {
  width: 0.44444444rem;
  height: 0.5rem;
  background-image: url("../images/nav_icon2.png");
}
.nav .nav-list .nav-icon1 {
  background-image: url("../images/nav_icon1.png");
}
.travel {
  /*支付方式*/
}
.travel .tra-list {
  background-color: #fff;
  margin-top: 0.40277778rem;
  padding: 0 0.40277778rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.travel .tra-list li {
  height: 1.41666667rem;
  line-height: 1.41666667rem;
  font-size: 0.41666667rem;
  color: #474747;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.travel .tra-list li input {
  width: 70%;
  float: right;
  height: 100%;
  text-align: right;
  font-size: 0.41666667rem;
}
.travel .tra-list li:last-child {
  border-bottom: none;
}
.travel .tra-list .t-left {
  width: 80%;
  overflow: hidden;
  float: left;
}
.travel .tra-list .c-left {
  color: #999;
  width: 26%;
  float: left;
}
.travel .tra-list .c-left.c-left {
  color: #474747;
}
.travel .tra-list .number {
  float: right;
  margin-top: 0.19444444rem;
  color: #dedede;
}
.travel .tra-list .number span,
.travel .tra-list .number input {
  font-size: 0.69444444rem;
  float: right;
  width: 0.97222222rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: -1px;
}
.travel .tra-list .number input {
  width: 1.38888889rem;
  font-size: 0.55555556rem;
}
.travel .a-item {
  margin-top: 0.63888889rem;
}
.travel .a-item .tra-list {
  margin-bottom: 0.36111111rem;
}
.travel .a-tit {
  padding: 0 0.40277778rem;
  height: 0.91666667rem;
  line-height: 0.91666667rem;
}
.travel .a-tit .a-tit-l {
  font-size: 0.5rem;
  color: #26a367;
  font-weight: bold;
  float: left;
}
.travel .a-tit .a-tit-r {
  float: right;
  font-size: 0.41666667rem;
  color: #999;
}
.travel .add-people {
  color: #26a367;
  height: 1.36111111rem;
  background-color: #fff;
  text-align: center;
  font-size: 0.41666667rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.travel .add-people span {
  vertical-align: middle;
  display: inline-block;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  margin-top: 0.30555556rem;
}
.travel .add-people .add-l {
  width: 0.69444444rem;
  background: url("../images/add.png") no-repeat;
  margin-right: 0.27777778rem;
  background-size: cover;
}
.travel .total {
  margin-top: 0.41666667rem;
  padding: 0 0.40277778rem;
  height: 1.36111111rem;
  font-size: 0.41666667rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.travel .total .total-l {
  float: left;
  color: #474747;
  margin-top: 0.44444444rem;
}
.travel .total .total-r {
  float: right;
  color: #ff6333;
  font-size: 0.66666667rem;
  margin-top: 0.33333333rem;
}
.travel .total .total-r em {
  font-style: normal;
  font-size: 0.33333333rem;
}
.travel .sure {
  margin-top: 0.55555556rem;
  text-align: center;
}
.travel .sure .n-sure {
  width: 5.63888889rem;
  height: 1.11111111rem;
  display: inline-block;
  background-color: #ff6333;
  color: #fff;
  line-height: 1.11111111rem;
  font-size: 0.41666667rem;
  border-radius: 1.11111111rem;
}
.logIn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.logIn .logIn_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.logIn .baseTit {
  background-color: transparent;
  font-size: 0.5rem;
  color: #474747;
}
.logIn .baseTit .return {
  background-image: url("../images/logIn_r.png");
}
.logIn .logIn-c {
  position: relative;
  padding: 1.27777778rem 1.02777778rem 0.69444444rem;
}
.logIn .logIn-c .logIn-tab {
  height: 1.16666667rem;
  color: #474747;
  font-size: 0.5rem;
}
.logIn .logIn-c .logIn-tab li {
  height: 0.69444444rem;
  line-height: 1;
}
.logIn .logIn-c .logIn-tab li.active {
  border-bottom: 0.08333333rem solid #5ad191;
  color: #5ad191;
}
.logIn .logIn-c .logIn-tab li:first-child {
  float: left;
}
.logIn .logIn-c .logIn-tab li:last-child {
  float: right;
}
.logIn .logIn-c .logIn-cont {
  height: 6.38888889rem;
  margin-bottom: 2rem;
}
.logIn .logIn-c .logIn-list {
  font-size: 0.41666667rem;
  margin-bottom: 0.375rem;
}
.logIn .logIn-c .logIn-list li {
  padding-top: 0.54166667rem;
  height: 1.65277778rem;
  line-height: 1.11111111rem;
  border-bottom: 1px solid #d9d9d9;
}
.logIn .logIn-c .logIn-list li span {
  float: left;
  margin-right: 0.41666667rem;
  margin-top: 0.27777778rem;
  height: 0.47222222rem;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.logIn .logIn-c .logIn-list li input {
  float: left;
  height: 100%;
  width: 87%;
}
.logIn .logIn-c .logIn-list li .codeInput {
  width: 52%;
}
.logIn .logIn-c .logIn-list li .send-code {
  width: 2.26388889rem;
  height: 0.83333333rem;
  text-align: center;
  line-height: 0.83333333rem;
  float: right;
  background-color: #f9bb62;
  color: #fff;
  border-radius: 3px;
  font-size: 0.33333333rem;
  margin-right: 0;
  margin-top: 0.11111111rem;
}
.logIn .logIn-c .logIn-list li .send-code:active {
  background-color: #f9bb62;
}
.logIn .logIn-c .logIn-list .userName {
  width: 0.44444444rem;
  background-image: url("../images/user.png");
}
.logIn .logIn-c .logIn-list .passWord {
  width: 0.375rem;
  height: 0.48611111rem;
  margin-left: 0.05555556rem;
  background-image: url("../images/password.png");
}
.logIn .logIn-c .logIn-list .phone {
  width: 0.31944444rem;
  height: 0.48611111rem;
  background-image: url("../images/iphone.png");
}
.logIn .logIn-c .logIn-list .code {
  width: 0.40277778rem;
  height: 0.47222222rem;
  background-image: url("../images/code.png");
}
.logIn .logIn-c .logIn-text {
  font-size: 0.33333333rem;
  position: relative;
  height: 0.55555556rem;
  margin-bottom: 0.55555556rem;
}
.logIn .logIn-c .l-t-left .t-right {
  left: 0;
  top: 0;
}
.logIn .logIn-c .l-t-left .remember {
  margin-left: 0.75rem;
  float: left;
  height: 0.55555556rem;
  line-height: 0.55555556rem;
  color: #757575;
}
.logIn .logIn-c .forget {
  position: absolute;
  right: 0;
  top: 0;
  color: #5ad191;
}
.logIn .logIn-go {
  height: 1.19444444rem;
  text-align: center;
  margin-bottom: 0.79166667rem;
  margin-top: 0.73611111rem;
}
.logIn .logIn-go a {
  width: 5.58333333rem;
  display: inline-block;
  line-height: 1.19444444rem;
  font-size: 0.41666667rem;
  color: #fff;
  background-color: #5ad191;
  box-shadow: 0 4px 15px #c6f4db;
  border-radius: 1.19444444rem;
}
.logIn .register {
  height: 0.55555556rem;
  line-height: 1;
  text-align: center;
  font-size: 0.41666667rem;
}
.logIn .register a {
  color: #5ad191;
  text-decoration: underline;
}
.logIn .logIn-bottom {
  position: relative;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  padding-top: 0.72222222rem;
}
.logIn .logIn-bottom .logIn-other {
  width: 2.33333333rem;
  font-size: 0.33333333rem;
  color: #d9d9d9;
  text-align: center;
  background-color: #fff;
  position: absolute;
  top: -0.22222222rem;
  left: 50%;
  margin-left: -1.16666667rem;
}
.logIn .logIn-bottom .other {
  height: 1.05555556rem;
}
.logIn .logIn-bottom .other img {
  height: 100%;
}
.logIn .logIn-bottom .other .qq {
  margin-right: 1.02777778rem;
}
.hide {
  display: none;
}
